.tools {}
.tools a {
  color: #fff;
}

.dahboard-mess-body {
  height: 90px;
  overflow: auto;
}

.dashboard-upload-doc {}
.dashboard-upload-doc .preview {
  width: 100px;
  height: 100px;
  overflow: hidden;
  background: #eee;
}

.dashboard-upload-doc .preview img {
  max-width: 100%;
  height: auto;
}

.dashdoard-sidebar-menu {
  padding: 20px;
  border-top: 1px solid #ddd;
}

.dashdoard-sidebar-menu ul {
  padding-left: 20px;
}

.dashdoard-sidebar-menu ul li {
  list-style: square;
  padding: 10px 0;
}

.profile-img  {
}
.profile-img .profile-img-box {
  display: block;
  margin-right: 30px;
  margin-bottom: 20px;
}

.project-list-btn {
  margin: 20px;
  display: block;
}

.project-list-btn.btn-group .btn.yellow.dropdown-toggle {
  float: none;
  display: block;
  width: 100%;
}

.project-list-btn.btn-group .dropdown-menu {
  float: none;
  width: 100%;
}

.header .hor-menu .hor-menu-search-form-toggler {
  background: none;
  position: relative;
}

.header .hor-menu .hor-menu-search-form-toggler:before {
  content: "Search";
  position: absolute;
  top: 10px;
  left: 10px;
}

.header .search-form {
  width: 200px;
  margin: 3px 0;
  float: left;
}

.header .search-form .form-control {
  border: 0;
}


.page-content-sub {
  padding: 30px;
  background: #fff;
  min-height: 760px;
}

.project-list {
  border: 1px solid #ddd;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 20px;
  height: 100px;
  overflow: auto;
}

.welcome-box {
  margin: 50px 0;
}

.table-stackeholder {}
.table-stackeholder tr > td {
  vertical-align: middle;
}

.portlet-body ul {
  padding: 0 20px;
}
.portlet-body ul li {
  border-bottom: 1px dotted #ddd;
  padding: 7px 0;
  list-style: none;
}

.portlet-body ul li:last-child {
  border: 0;
}

.fileupload {
  margin-right: 20px;
}

.sidebar-actions {
  padding: 20px;
}

.sidebar-actions h3 {
  margin-top: 0;
}

.sidebar-actions .project-status {
  font-size: 16px;
  text-align: center;
  font-weight: 300;
  padding: 15px 0;
}
.sidebar-actions .project-status.red {
  background: #bb2413;
  color: #fff;
}
.sidebar-actions .list-btn {
  padding: 0;
}
.sidebar-actions .list-btn li {
  display: block;
  margin: 10px 0;
}
.sidebar-actions .list-btn li a {
  display: block;
}

.sidebar-actions.white {
  background: #fff;
  margin: 10px;
}

.box {
  padding: 10px 20px;
  border: 1px solid #ccc;
}

.box.gray {
  background: #ccc;

}

/* Login Page */
.login-wrap {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  background: #eca22e;
  color: #fff;
}

.login-wrap a,
.login-wrap .page-title {
  color: #fff;
}

.login-wrap .input-group {
  margin-bottom: 20px;
}

.login-wrap .input-group .input-group-addon i{
  width: 16px;
  text-align: center;
}

.login-wrap .checkbox-inline {
  margin: 0;
  padding: 0;
}

.login-wrap button[type=submit] {
  width: 100%;
}

/* User List */
.tbl-user {}
.tbl-user h4 {
  margin: 0;
}

.tbl-user p {
  margin: 5px 0;
}

.user-detail-box,
.project-list-items {}
.user-detail-box p,
.project-list-items p {
  padding: 10px 0;
  margin: 0;
  border-bottom: 1px dotted #ddd;
}
.user-detail-box p:last-child,
.project-list-items p:last-child  {
  border: 0;
}

.user-detail-box p strong,
.project-list-items p strong {
  font-weight: 400;
  font-size: 14px;
  margin-right: 10px;
}

