.tools {}
.tools a {
  color: #fff;
}

.dahboard-mess-body {
  height: 90px;
  overflow: auto;
}

.dashboard-upload-doc {}
.dashboard-upload-doc .preview {
  width: 100px;
  height: 100px;
  overflow: hidden;
  background: #eee;
}

.dashboard-upload-doc .preview img {
  max-width: 100%;
  height: auto;
}

.dashdoard-sidebar-menu {
  padding: 20px;
  border-top: 1px solid #ddd;
}

.dashdoard-sidebar-menu ul {
  padding-left: 20px;
}

.dashdoard-sidebar-menu ul li {
  list-style: square;
  padding: 10px 0;
}

.profile-img  {
}
.profile-img .profile-img-box {
  display: block;
  margin-right: 30px;
  margin-bottom: 20px;
}

.project-list-btn {
  margin: 20px;
  display: block;
}

.project-list-btn.btn-group .btn.yellow.dropdown-toggle {
  float: none;
  display: block;
  width: 100%;
}

.project-list-btn.btn-group .dropdown-menu {
  float: none;
  width: 100%;
}

.header .hor-menu .hor-menu-search-form-toggler {
  background: none;
  position: relative;
}

.header .hor-menu .hor-menu-search-form-toggler:before {
  content: "Search";
  position: absolute;
  top: 10px;
  left: 10px;
}

.header .search-form {
  width: 200px;
  margin: 3px 0;
  float: left;
}

.header .search-form .form-control {
  border: 0;
}


.page-content-sub {
  padding: 30px;
  background: #fff;
  min-height: 760px;
}

.project-list {
  border: 1px solid #ddd;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 20px;
  height: 100px;
  overflow: auto;
}

.welcome-box {
  margin: 50px 0;
}

.table-stackeholder {}
.table-stackeholder tr > td {
  vertical-align: middle;
}

.portlet-body ul {
  padding: 0 20px;
}
.portlet-body ul li {
  border-bottom: 1px dotted #ddd;
  padding: 7px 0;
  list-style: none;
}

.portlet-body ul li:last-child {
  border: 0;
}

.fileupload {
  margin-right: 20px;
}

.sidebar-actions {
  padding: 20px;
}

.sidebar-actions h3 {
  margin-top: 0;
}

.sidebar-actions .project-status {
  font-size: 16px;
  text-align: center;
  font-weight: 300;
  padding: 15px 0;
}
.sidebar-actions .project-status.red {
  background: #bb2413;
  color: #fff;
}
.sidebar-actions .list-btn {
  padding: 0;
}
.sidebar-actions .list-btn li {
  display: block;
  margin: 10px 0;
}
.sidebar-actions .list-btn li a {
  display: block;
}

.sidebar-actions.white {
  background: #fff;
  margin: 10px;
}

.box {
  padding: 10px 20px;
  border: 1px solid #ccc;
}

.box.gray {
  background: #ccc;

}

/* Login Page */
.login-wrap {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  background: #eca22e;
  color: #fff;
}

.login-wrap a,
.login-wrap .page-title {
  color: #fff;
}

.login-wrap .input-group {
  margin-bottom: 20px;
}

.login-wrap .input-group .input-group-addon i{
  width: 16px;
  text-align: center;
}

.login-wrap .checkbox-inline {
  margin: 0;
  padding: 0;
}

.login-wrap button[type=submit] {
  width: 100%;
}

/* User List */
.tbl-user {}
.tbl-user h4 {
  margin: 0;
}

.tbl-user p {
  margin: 5px 0;
}

.user-detail-box,
.project-list-items {}
.user-detail-box p,
.project-list-items p {
  padding: 10px 0;
  margin: 0;
  border-bottom: 1px dotted #ddd;
}
.user-detail-box p:last-child,
.project-list-items p:last-child  {
  border: 0;
}

.user-detail-box p strong,
.project-list-items p strong {
  font-weight: 400;
  font-size: 14px;
  margin-right: 10px;
}

.un-loggin {
  margin: 4px;
}

.un-loggin-container {
  padding-top: 60px;
}

.page-content-unloggin {
  background: #fff;
}

.page-content-unloggin a {
  color: #eca22e;
}

.col_20 {
  width: 20%;
  float: left;
  padding: 1px;
}
.col_50 {
  width: 50%;
  float: left;
  padding: 1px;
}

.grid {
  height: 200px;
  position: relative;
  padding: 20px;
  border: 1px solid #ddd;
}



.grid_title {}
.grid_body {}
.grid_action {
  position: absolute;
  width: 30px;
  height: 30px;
  text-align: center;
  bottom: 10px;
  right: 10px;
  z-index: 10;
}
.grid_action a {}
.grid_action a:hover {
  text-decoration: none;
}

.flip {
  -webkit-perspective: 800;
  -moz-perspective: 800;
  perspective: 800;
   width: 100%;
   height: 200px;
    position: relative;
    margin: 2px;
}
.flip .card.flipped {
  -webkit-transform: rotatey(-180deg);
  -moz-transform: rotatey(-180deg);
  transform: rotatey(-180deg);
}
.flip .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  -moz-transform-style: preserve-3d;
  -moz-transition: 0.5s;
  transform-style: preserve-3d;
  transition: 0.5s;
}
.flip .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden ;
  -moz-backface-visibility: hidden ;
  backface-visibility: hidden ;
  z-index: 2;
}
.flip .card .front {
  position: absolute;
  z-index: 1;
    background: #FDA930;
    color: #fff;
    cursor: pointer;
}
.flip .card .back {
  -webkit-transform: rotatey(-180deg);
  -moz-transform: rotatey(-180deg);
  transform: rotatey(-180deg);
    background: #F6E1AE;
    color: #333;
    cursor: pointer;
}

.card-title {
  text-transform: uppercase;
  margin: 10px;
}
.card-body {
  margin: 10px;
}

.card .swap {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.card .swap,
.back .swap:hover {
  background: rgba(0,0,0,.1);
  color: #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
}

.card .swap:hover,
.back .swap {
  background: rgba(0,0,0,.3);
  text-decoration: none;
  color: #fff;
}

.subcribtion-txt,
.social_follow {
  padding: 10px;
}
.subcribtion-txt a {
  color: #eca22e;
}

.social_follow a {
  padding: 0 5px;
}

.social_follow a:hover {

}

.flip.grid_2x {
  height: 402px;
}

