<div class="clearfix"></div>
<!-- BEGIN CONTAINER -->
<div class="page-container" >
  <!-- BEGIN HORIZONTAL MENU PAGE SIDEBAR1 -->
  <div class="page-sidebar navbar-collapse collapse">
    <div class="btn-group project-list-btn">
      <button type="button" class="btn yellow dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
        <span>Projects</span>
        <i class="icon-angle-down"></i>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">All (Default)</a></li>
        <li><a href="#">Project Name 1</a></li>
        <li><a href="#">Project Name 2</a></li>
        <li><a href="#">Project Name 3</a></li>
        <li><a href="#">Project Name 4</a></li>
      </ul>
    </div>
    <ul class="page-sidebar-menu">

      <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
      <!-- <div class="sidebar-toggler hidden-sm hidden-xs"></div> -->
      <!-- BEGIN SIDEBAR TOGGLER BUTTON -->


      <li >
        <a href="javascript:;">
          <i class="icon-cog"></i>
          <span class="title">Stackholders</span>
        </a>
      </li>
      <li>
        <a href="#" target="_blank">
          <i class="icon-folder-close"></i>
          <span class="title">Resources</span>
        </a>
      </li>
      <li >
        <a href="javascript:;">
          <i class="icon-cogs"></i>
          <span class="title">System Setting</span>
        </a>
      </li>
      <li >
        <a href="javascript:;">
          <i class="icon-time"></i>
          <span class="title">Time/Schedule</span>
        </a>
      </li>
      <li >
        <a href="javascript:;">
          <i class="icon-th-list"></i>
          <span class="title">Scope</span>
        </a>
      </li>
      <li >
        <a href="javascript:;">
          <i class="icon-ok"></i>
          <span class="title">Quality</span>
        </a>
      </li>
      <li >
        <a href="javascript:;">
          <i class="icon-file-text"></i>
          <span class="title">Procurement</span>
        </a>
      </li>
      <li >
        <a href="charts.html">
          <i class="icon-envelope"></i>
          <span class="title">Communications</span>
        </a>
      </li>
      <li class="last">
        <a href="login.html">
          <i class="icon-question-sign"></i>
          <span class="title">Risk</span>
        </a>
      </li>
    </ul>
    <!--HORIZONTAL AND SIDEBAR MENU FOR MOBILE & TABLETS-->
    <ul class="page-sidebar-menu visible-sm visible-xs">
      <li class="active">
        <a href="index.html">
					Dashboard
          <span class="selected"></span>
          <span class="arrow open"></span>
        </a>
        <ul class="sub-menu">

          <li >
            <a href="javascript:;">
              <i class="icon-th-list"></i>
              <span class="title">Portlets</span>
              <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
              <li >
                <a href="portlet_general.html">
									General Portlets                    </a>
              </li>
              <li >
                <a href="portlet_draggable.html">
									Draggable Portlets                     </a>
              </li>
            </ul>
          </li>
          <li >
            <a href="javascript:;">
              <i class="icon-map-marker"></i>
              <span class="title">Maps</span>
              <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
              <li >
                <a href="maps_google.html">
									Google Maps                   </a>
              </li>
              <li >
                <a href="maps_vector.html">
									Vector Maps                   </a>
              </li>
            </ul>
          </li>
          <li >
            <a href="charts.html">
              <i class="icon-bar-chart"></i>
              <span class="title">Visual Charts</span>
            </a>
          </li>
          <li >
            <a href="login.html">
              <i class="icon-user"></i>
              <span class="title">Login Page</span>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="javascript:;">
					Sections
          <span class="arrow"></span>
        </a>
      </li>
      <li>
        <a href="">Tables</a>
      </li>
      <li>
        <a href="">Extra
          <span class="arrow"></span>
        </a>
      </li>
    </ul>
  </div>
  <!-- END BEGIN HORIZONTAL MENU PAGE SIDEBAR -->
  <!-- BEGIN PAGE -->
  <div class="page-content">
    <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
    <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">Modal title</h4>
          </div>
          <div class="modal-body">
							Widget settings form goes here
          </div>
          <div class="modal-footer">
            <button type="button" class="btn blue">Save changes</button>
            <button type="button" class="btn default" data-dismiss="modal">Close</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!-- BEGIN PAGE HEADER-->
    <div class="row">
      <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
						Project Name <br><small>Project Descriptions</small>
        </h3>
        <ul class="page-breadcrumb breadcrumb">

          <li>
            <i class="icon-home"></i>
            <a href="index.html">Dashboard</a>
            <i class="icon-angle-right"></i>
          </li>
          <li>
            <a href="#">Projects</a>
            <i class="icon-angle-right"></i>
          </li>
          <li><a href="#">Project Name</a></li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
        <div class="text-left">
          <h4>Project Manager: <a href="#">Chris O'Hara</a></h4>
        </div>
        <hr>
        <!-- Project Canvas Page -->
        <div class="row">
          <div class="col-sm-8">
            <div class="row">
              <div class="col-sm-6">
                <div class="portlet box yellow">
                  <div class="portlet-title">
                    <div class="caption"><i class="icon-time"></i> Milestones</div>
                    <div class="actions"><a href="#" class="btn dark">Add</a></div>
                  </div>
                  <div class="portlet-body">
                    <ul>
                      <li><a href="#">Document Requirements</a></li>
                      <li><a href="#">Build Mockup</a></li>
                      <li><a href="#">Buil Early Prototype</a></li>
                      <li><a href="#">Engage Programmer</a>
                        <a href="#" id="dob" data-type="combodate" data-value="2014-04-14" data-format="YYYY-MM-DD" data-viewformat="DD/MM/YYYY" data-template="D / MMM / YYYY" data-pk="1"  data-original-title="Select Date"></a>
                      </li>
                      <li><a href="#">Build Alpha</a></li>
                      <li><a href="#">Build Testing</a>
                        <a href="#"  id="event" data-type="combodate" data-value="2014-04-14" data-format="YYYY-MM-DD" data-viewformat="DD/MM/YYYY" data-template="D / MMM / YYYY" data-pk="1"  data-original-title="Select Date"></a>
                      </li>
                      <li><a href="#">Build Beta</a></li>
                      <li><a href="#">Release Beta</a></li>
                      <li><a href="#">Release Open Beta</a></li>
                      <li><a href="#">First Paying Customer</a>
                        <a href="#" id="meeting_start" data-type="combodate" data-value="2014-04-14" data-format="YYYY-MM-DD" data-viewformat="DD/MM/YYYY" data-template="D / MMM / YYYY" data-pk="1"  data-original-title="Select Date"></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="portlet box yellow">
                  <div class="portlet-title">
                    <div class="caption"><i class="icon-check-sign"></i> Deliverables</div>
                    <div class="actions"><a href="#" class="btn dark">Add</a></div>
                  </div>
                  <div class="portlet-body">
                    <ul>
                      <li><a href="#">Project Management Plan</a></li>
                      <li><a href="#">Fullset to Alpha</a></li>
                      <li><a href="#">Working Beta prototype</a></li>
                      <li><a href="#">100% paying user</a></li>
                      <li><a href="#">100% paying user</a></li>
                      <li><a href="#">100% paying user</a></li>
                      <li><a href="#">100% paying user</a></li>
                      <li><a href="#">100% paying user</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="portlet box yellow">
                  <div class="portlet-title">
                    <div class="caption"><i class="icon-info"></i> Risks</div>
                    <div class="actions"><a href="#" class="btn dark">Add</a></div>
                  </div>
                  <div class="portlet-body">
                    <ul>
                      <li><a href="#">Some links</a></li>
                      <li><a href="#">Some links</a></li>
                      <li><a href="#">Some links</a></li>
                      <li><a href="#">Some links</a></li>
                      <li><a href="#">Some links</a></li>
                      <li><a href="#">Some links</a></li>
                      <li><a href="#">Some links</a></li>
                      <li><a href="#">Some links</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="portlet box yellow">
                  <div class="portlet-title">
                    <div class="caption"><i class="icon-key"></i> Key Resources</div>
                    <div class="actions"><a href="#" class="btn dark">Add</a></div>
                  </div>
                  <div class="portlet-body">
                    <ul>
                      <li><a href="#">Some links</a></li>
                      <li><a href="#">Some links</a></li>
                      <li><a href="#">Some links</a></li>
                      <li><a href="#">Some links</a></li>
                      <li><a href="#">Some links</a></li>
                      <li><a href="#">Some links</a></li>
                      <li><a href="#">Some links</a></li>
                      <li><a href="#">Some links</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="portlet box yellow">
              <div class="portlet-title">
                <div class="caption"><i class="icon-money"></i> Budget</div>
              </div>
              <div class="portlet-body">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label class="col-sm-5 control-label">Estimate</label>
                    <div class="col-sm-7">
                      <input class="form-control" type="text" placeholder="$0.00">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-5 control-label">Budget Accuracy</label>
                    <div class="col-sm-7">
                      <input class="form-control" type="text" placeholder="%0.00">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-5 control-label">Risk Contigency</label>
                    <div class="col-sm-7">
                      <input class="form-control" type="text" placeholder="$0.00">
                    </div>
                  </div>
                </form>
              </div>
            </div>

            <div class="portlet box yellow">
              <div class="portlet-title">
                <div class="caption"><i class="icon-key"></i> Quality</div>
                <div class="actions"><a href="#" class="btn dark">Add</a></div>
              </div>
              <div class="portlet-body">
                <ul>
                  <li><a href="#">Some links</a></li>
                  <li><a href="#">Some links</a></li>
                </ul>
              </div>
            </div>

            <div class="portlet box yellow">
              <div class="portlet-title">
                <div class="caption"><i class="icon-key"></i> Procurement</div>
                <div class="actions"><a href="#" class="btn dark">Add</a></div>
              </div>
              <div class="portlet-body">
                <ul>
                  <li><a href="#">Some links</a></li>
                  <li><a href="#">Some links</a></li>
                </ul>
              </div>
            </div>

          </div>
        </div>
        <!-- /End Project canvas/ -->
        <p class="form-actions clearfix">
          <a href="#" class="btn yellow pull-right">Next</a>
        </p>
      </div>
    </div>

  </div>
</div>
<!-- END PAGE CONTENT-->