<div class="clearfix"></div>
<!-- BEGIN CONTAINER -->
<div class="page-container page-canvas" >

  <!-- BEGIN PAGE -->
  <div class="container un-loggin-container">
    <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
    <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">Modal title</h4>
          </div>
          <div class="modal-body">
							Widget settings form goes here
          </div>
          <div class="modal-footer">
            <button type="button" class="btn blue">Save changes</button>
            <button type="button" class="btn default" data-dismiss="modal">Close</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!-- BEGIN PAGE HEADER-->
    <div class="row">
      <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
						Project Name <br><small>Project Descriptions</small>
        </h3>
        <ul class="page-breadcrumb breadcrumb">

          <li>
            <i class="icon-home"></i>
            <a href="index.html">Dashboard</a>
            <i class="icon-angle-right"></i>
          </li>
          <li>
            <a href="#">Projects</a>
            <i class="icon-angle-right"></i>
          </li>
          <li><a href="#">Project Name</a></li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
        <div class="text-left">
          <h4>Project Manager: <a href="#">Chris O'Hara</a></h4>
        </div>
        <hr>
        <!-- Project Canvas Page -->
        <div class="row canvas-items">
          <div class="col-sm-8">
            <div class="row">
              <div class="col-sm-6">
                <div class="portlet box">
                  <div class="portlet-title">
                    <div class="caption"><i class="icon-time"></i> Milestones</div>
                    <div class="actions"><a href="#milestone-action" class="btn btn-default" data-toggle="collapse">Add</a></div>
                  </div>
                  <div class="portlet-body">
                    <div class="scroller">
                      <ul>
                        <li class="alert-dismissable"><a href="#">Document Requirements</a>
                          <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                        </li>
                        <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                          <a href="#">Build Mockup</a>
                        </li>
                        <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                          <a href="#">Buil Early Prototype</a>
                        </li>
                        <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                          <a href="#">Engage Programmer</a>
                          <a href="#" id="dob" data-type="combodate" data-value="2014-04-14" data-format="YYYY-MM-DD" data-viewformat="DD/MM/YYYY" data-template="D / MMM / YYYY" data-pk="1"  data-original-title="Select Date"></a>
                        </li>
                        <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                          <a href="#">Build Alpha</a></li>
                        <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                          <a href="#">Build Testing</a>
                          <a href="#"  id="event" data-type="combodate" data-value="2014-04-14" data-format="YYYY-MM-DD" data-viewformat="DD/MM/YYYY" data-template="D / MMM / YYYY" data-pk="1"  data-original-title="Select Date"></a>
                        </li>
                        <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                          <a href="#">Build Beta</a></li>
                        <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                          <a href="#">Release Beta</a></li>
                        <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                          <a href="#">Release Open Beta</a></li>
                        <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                          <a href="#">First Paying Customer</a>
                          <a href="#" id="meeting_start" data-type="combodate" data-value="2014-04-14" data-format="YYYY-MM-DD" data-viewformat="DD/MM/YYYY" data-template="D / MMM / YYYY" data-pk="1"  data-original-title="Select Date"></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="portlet-footer">
                    <div id="milestone-action" class="collapse">
                      <div class="form-inline">
                        <div class="form-group col-sm-5">
                          <input type="text" class="form-control" placeholder="Title">
                        </div>
                        <div class="form-group col-sm-5">
                          <input type="text" class="form-control date-picker" placeholder="Date">
                        </div>
                        <button class="btn btn-default"><i class="icon-plus"></i></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="portlet box">
                  <div class="portlet-title">
                    <div class="caption"><i class="icon-check-sign"></i> Deliverables</div>
                    <div class="actions"><a href="#delivery-action" class="btn btn-default" data-toggle="collapse">Add</a></div>
                  </div>
                  <div  class="portlet-body">
                    <div class="scroller">
                      <ul>
                        <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Project Management Plan</a></li>
                        <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Full set of mockups to Alpha</a></li>
                        <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Working beta Prototype</a></li>
                        <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">100 paying users</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="portlet-footer">
                    <div id="delivery-action" class="collapse">
                      <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                          <button class="btn btn-default"><i class="icon-plus"></i></button>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="portlet box">
                  <div class="portlet-title">
                    <div class="caption"><i class="icon-info"></i> Risks</div>
                    <div class="actions"><a href="#risk-action" class="btn btn-default" data-toggle="collapse">Add</a></div>
                  </div>
                  <div class="portlet-body">
                    <div class="scroller">
                      <ul>
                        <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Software goes over budget</a></li>
                        <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Software not delivered on time</a></li>
                        <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Key resources no available</a></li>
                        <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Stakeholder requirements not met</a></li>
                        <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">AIPM does not endorse software</a></li>
                        <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Market doesnot purchase software</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="portlet-footer">
                    <div id="risk-action" class="collapse">
                      <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                          <button class="btn btn-default"><i class="icon-plus"></i></button>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="portlet box">
                  <div class="portlet-title">
                    <div class="caption"><i class="icon-key"></i> Key Resources</div>
                    <div class="actions"><a href="#key-action" class="btn btn-default" data-toggle="collapse">Add</a></div>
                  </div>
                  <div class="portlet-body">
                    <div class="scroller">
                      <ul>
                        <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Chris O’Halloran</a></li>
                        <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Aaron Hidson</a></li>
                        <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Adam Eliston</a></li>
                        <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Jame</a></li>
                        <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">David Hudson</a></li>
                        <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Mark Fishwick</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="portlet-footer">
                    <div id="key-action" class="collapse">
                      <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                          <button class="btn btn-default"><i class="icon-plus"></i></button>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="portlet box">
                  <div class="portlet-title">
                    <div class="caption"><i class="icon-user"></i> Stakeholder List</div>
                    <div class="actions"><a href="#stake-action" class="btn btn-default" data-toggle="collapse">Add</a></div>
                  </div>
                  <div class="portlet-body">
                    <div class="scroller">
                      <ul>
                        <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Chris O’Halloran</a></li>
                        <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Aaron Hidson</a></li>
                        <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Adam Eliston</a></li>
                        <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Jame</a></li>
                        <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">David Hudson</a></li>
                        <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Mark Fishwick</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="portlet-footer">
                    <div id="stake-action" class="collapse panel-collapse">
                      <div class="form-inline">
                        <div class="form-group col-sm-3">
                          <input type="text" class="form-control" placeholder="Name">
                        </div>
                        <div class="form-group col-sm-3">
                          <input type="text" class="form-control" placeholder="Email">
                        </div>
                        <div class="form-group col-sm-2">
                          <select class="form-control"><option>Role</option></select>
                        </div>
                        <div class="form-group col-sm-3">
                          <label class="checkbox-inline">
                            <input type="checkbox" class="form-control"> Is approved?
                          </label>
                        </div>
                        <button class="btn btn-default"><i class="icon-plus"></i></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="portlet box">
              <div class="portlet-title">
                <div class="caption"><i class="icon-usd"></i> Budget</div>
                <div class="actions"><a href="#budget-action" class="btn btn-default" data-toggle="collapse">Add</a></div>
              </div>
              <div class="portlet-body">
                <div class="scroller" data-always-visible="1" data-rail-visible="0">
                  <form class="form-horizontal">
                    <div class="form-group">
                      <label class="col-sm-5 control-label">Estimate</label>
                      <div class="col-sm-7">
                        <input class="form-control" type="text" placeholder="$0.00">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-5 control-label">Budget Accuracy</label>
                      <div class="col-sm-7">
                        <input class="form-control" type="text" placeholder="%0.00">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-5 control-label">Risk Contigency</label>
                      <div class="col-sm-7">
                        <input class="form-control" type="text" placeholder="$0.00">
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="portlet-footer">
                <div id="budget-action" class="collapse">
                  <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                      <button class="btn btn-default"><i class="icon-plus"></i></button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="portlet box">
              <div class="portlet-title">
                <div class="caption"><i class="icon-key"></i> Quality</div>
                <div class="actions"><a href="#quality-action" class="btn btn-default" data-toggle="collapse">Add</a></div>
              </div>
              <div class="portlet-body">
                <div class="scroller">
                  <ul>
                    <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Html 5 open standards</a></li>
                    <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Ruby on Rails</a></li>
                    <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">CSS 3 styling</a></li>
                    <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">60 bugs at private Beta</a></li>
                  </ul>
                </div>
              </div>
              <div class="portlet-footer">
                <div id="quality-action" class="collapse">
                  <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                      <button class="btn btn-default"><i class="icon-plus"></i></button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="portlet box">
              <div class="portlet-title">
                <div class="caption"><i class="icon-file"></i> Procurement</div>
                <div class="actions"><a href="#procure-action" class="btn btn-default" data-toggle="collapse">Add</a></div>
              </div>
              <div class="portlet-body">
                <div class="scroller">
                  <ul>
                    <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Software Engineer</a></li>
                    <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Laptop</a></li>
                    <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Software</a></li>
                    <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Server space</a></li>
                    <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Website space</a></li>
                  </ul>
                </div>
              </div>
              <div class="portlet-footer">
                <div id="procure-action" class="collapse">
                  <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                      <button class="btn btn-default"><i class="icon-plus"></i></button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <!-- /End Project canvas/ -->
        <p class="form-actions clearfix">
          <a href="#" class="btn yellow pull-right">Next</a>
        </p>
      </div>
    </div>

  </div>
</div>