<div class="container un-loggin-container">

  <div class="page-header clearfix text-right">
    <h4 class="pull-left">Project Manager: <a href="#">Chris O'Hara</a></h4>
    <a href="#" class="btn yellow"><i class="icon-share"></i> Share</a>
    <a href="#" class="btn yellow"><i class="icon-download"></i> Download</a>
  </div>
  <hr>
  <div class="page-content-unloggin">
    <div class="project-detail-box">
      <form class="form-horizontal">
        <div class="form-group">
          <div class="col-sm-3">
            <input class="form-control" placeholder="Project Name" type="text">
          </div>

          <div class="col-sm-2">
            <select class="form-control" disabled=""><option>Project Manager</option></select>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-3">
            <input class="form-control" placeholder="Project Sponsor" type="text">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-3">
            <select class="form-control" disabled=""><option>Project Category</option></select>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-3">
            <select class="form-control"><option>Business Need</option></select>
          </div>
        </div>

        <hr>
        <h3>Project purpose or justification</h3>
        <textarea class="form-control" name="editor2" rows="5" disabled="">
              Chris and Aaron believe there is a gap in the market for an intellgient Project Information Management System Market research suggests reasonalble market share can be gained from the $129 billion project management saas market
        </textarea>
        <hr>
        <h3>Statement of work</h3>
        <textarea rows="5" class="form-control" disabled="">
              To build a project management information system that is user friendly yet powerful and follow PMI’s PMBoK bes pratice franework. The software should be cloud based and designed to work on mobile devices, tables and desktop computers
        </textarea>
        <hr>
      </form>
      <div class="row">
        <div class="col-sm-6">
          <h3>Budget</h3>
          <div class="charter-box row yellow">
            <div class="col-sm-6">
              <div class="box">
                <p>Allocated</p>
                <h4>$80,000</h4>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="box">
                <p>Accuracy</p>
                <h4>+/- 30%</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <h3>Contigency</h3>
          <div class="charter-box row dark">
            <div class="col-sm-4">
              <div class="box gray">
                <p>Budget Contigency</p>
                <h4>$24,000 (30%)</h4>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="box">
                <p>Risk Contigency</p>
                <h4>$24,000 (30%)</h4>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="box gray">
                <p>Total Contigency</p>
                <h4>$48,000 60%</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-12">
          <div class="portlet box yellow">
            <div class="portlet-title">
              <div class="caption"><i class="icon-check-sign"></i> Risk</div>
            </div>
            <div class="portlet-body">
              <ul>
                <li><a href="#">Software goes over budget</a></li>
                <li><a href="#">Software not delivered on time</a></li>
                <li><a href="#">Key resources no available</a></li>
                <li><a href="#">Stakeholder requirements not met</a></li>
                <li><a href="#">AIPM does not endorse software</a></li>
                <li><a href="#">Market doesnot purchase software</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="portlet box yellow">
            <div class="portlet-title">
              <div class="caption"><i class="icon-check-sign"></i> Key Milestone</div>
            </div>
            <div class="portlet-body table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th></th>
                    <th>Due Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Document Requirements</td>
                    <td>
                      <div class="input-group input-medium date date-picker" data-date="12-04-2014" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                        <input type="text" class="form-control" readonly>
                        <span class="input-group-btn">
                          <button class="btn default" type="button"><i class="icon-calendar"></i></button>
                        </span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Build early prototype</td>
                    <td>
                      <div class="input-group input-medium date date-picker" data-date="12-04-2014" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                        <input type="text" class="form-control" readonly>
                        <span class="input-group-btn">
                          <button class="btn default" type="button"><i class="icon-calendar"></i></button>
                        </span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Engage programmer</td>
                    <td>
                      <div class="input-group input-medium date date-picker" data-date="12-04-2014" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                        <input type="text" class="form-control" readonly>
                        <span class="input-group-btn">
                          <button class="btn default" type="button"><i class="icon-calendar"></i></button>
                        </span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Build Alpha</td>
                    <td>
                      <div class="input-group input-medium date date-picker" data-date="12-04-2014" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                        <input type="text" class="form-control" readonly>
                        <span class="input-group-btn">
                          <button class="btn default" type="button"><i class="icon-calendar"></i></button>
                        </span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>User testing</td>
                    <td>
                      <div class="input-group input-medium date date-picker" data-date="12-04-2014" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                        <input type="text" class="form-control" readonly>
                        <span class="input-group-btn">
                          <button class="btn default" type="button"><i class="icon-calendar"></i></button>
                        </span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Build Beta</td>
                    <td>
                      <div class="input-group input-medium date date-picker" data-date="12-04-2014" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                        <input type="text" class="form-control" readonly>
                        <span class="input-group-btn">
                          <button class="btn default" type="button"><i class="icon-calendar"></i></button>
                        </span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Release Private Beta</td>
                    <td>
                      <div class="input-group input-medium date date-picker" data-date="12-04-2014" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                        <input type="text" class="form-control" readonly>
                        <span class="input-group-btn">
                          <button class="btn default" type="button"><i class="icon-calendar"></i></button>
                        </span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Release open Beta</td>
                    <td>
                      <div class="input-group input-medium date date-picker" data-date="12-04-2014" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                        <input type="text" class="form-control" readonly>
                        <span class="input-group-btn">
                          <button class="btn default" type="button"><i class="icon-calendar"></i></button>
                        </span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>First paying customers</td>
                    <td>
                      <div class="input-group input-medium date date-picker" data-date="12-04-2014" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                        <input type="text" class="form-control" readonly>
                        <span class="input-group-btn">
                          <button class="btn default" type="button"><i class="icon-calendar"></i></button>
                        </span>
                      </div>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="portlet box yellow">
            <div class="portlet-title">
              <div class="caption"><i class="icon-check-sign"></i> Deliverables</div>
            </div>
            <div class="portlet-body">
              <ul>
                <li><a href="#">Project Management Plan</a></li>
                <li><a href="#">Fullset to Alpha</a></li>
                <li><a href="#">Working Beta prototype</a></li>
                <li><a href="#">100% paying user</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="portlet box yellow">
            <div class="portlet-title">
              <div class="caption"><i class="icon-check-sign"></i> Procurement</div>
            </div>
            <div class="portlet-body">
              <ul>
                <li><a href="#">Software Engineer</a></li>
                <li><a href="#">Laptop</a></li>
                <li><a href="#">Software</a></li>
                <li><a href="#">Server space</a></li>
                <li><a href="#">Website space</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="portlet box yellow">
            <div class="portlet-title">
              <div class="caption"><i class="icon-check-sign"></i> Quality</div>
            </div>
            <div class="portlet-body">
              <ul>
                <li><a href="#">Html 5 open standards</a></li>
                <li><a href="#">Ruby on Rails</a></li>
                <li><a href="#">CSS 3 styling</a></li>
                <li><a href="#">60 bugs at private Beta</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <h3>Stakeholder</h3>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-responsive">
            <table class="table table-stackeholder">
              <thead>
                <tr>
                  <th colspan="4"></th>
                  <th colspan="2" class="text-right">Is approved?</th>
                  <th colspan="1" class="text-right">Comms</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><input type="text" class="form-control" value="John"></td>
                  <td><input type="text" class="form-control" value="Doe"></td>
                  <td><input type="text" class="form-control" value="john.d@mail.com"></td>
                  <td><input type="text" class="form-control" value="123 456 7890"></td>
                  <td><select class="form-control"><option>Key User</option></select></td>
                  <td><input type="checkbox"></td>
                  <td><input type="text" class="form-control" value="" placeholder="Email"></td>
                  <td><a href="#">Invite</a></td>
                  <td><a href="#"><i class="icon-trash"></i></a></td>
                </tr>
                <tr>
                  <td><input type="text" class="form-control" value="John"></td>
                  <td><input type="text" class="form-control" value="Doe"></td>
                  <td><input type="text" class="form-control" value="john.d@mail.com"></td>
                  <td><input type="text" class="form-control" value="123 456 7890"></td>
                  <td><select class="form-control"><option>Key User</option></select></td>
                  <td><input type="checkbox"></td>
                  <td><input type="text" class="form-control" value="" placeholder="Email"></td>
                  <td><a href="#">Invite</a></td>
                  <td><a href="#"><i class="icon-trash"></i></a></td>
                </tr>
                <tr>
                  <td><input type="text" class="form-control" value="John"></td>
                  <td><input type="text" class="form-control" value="Doe"></td>
                  <td><input type="text" class="form-control" value="john.d@mail.com"></td>
                  <td><input type="text" class="form-control" value="123 456 7890"></td>
                  <td><select class="form-control"><option>Key User</option></select></td>
                  <td><input type="checkbox"></td>
                  <td><input type="text" class="form-control" value="" placeholder="Email"></td>
                  <td><a href="#">Invite</a></td>
                  <td><a href="#"><i class="icon-trash"></i></a></td>
                </tr>
                <tr>
                  <td><input type="text" class="form-control" value="John"></td>
                  <td><input type="text" class="form-control" value="Doe"></td>
                  <td><input type="text" class="form-control" value="john.d@mail.com"></td>
                  <td><input type="text" class="form-control" value="123 456 7890"></td>
                  <td><select class="form-control"><option>Key User</option></select></td>
                  <td><input type="checkbox"></td>
                  <td><input type="text" class="form-control" value="" placeholder="Email"></td>
                  <td><a href="#">Invite</a></td>
                  <td><a href="#"><i class="icon-trash"></i></a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <h3>Approvals</h3>
      <div div class="row">
        <div class="col-sm-12">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th></th>
                  <th>Role</th>
                  <th>Issues</th>
                  <th>Status</th>
                  <th>Response Date</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><strong>John Doe</strong></td>
                  <td>Project Manager</td>
                  <td>
                    <div class="input-group input-medium date date-picker" data-date="12-04-2014" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                      <input type="text" class="form-control" readonly>
                      <span class="input-group-btn">
                        <button class="btn default" type="button"><i class="icon-calendar"></i></button>
                      </span>
                    </div>
                  </td>
                  <td>
                    <span class="label label-success">Approved</span>
                  </td>
                  <td>
                    <div class="input-group input-medium date date-picker" data-date="12-04-2014" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                      <input type="text" class="form-control" readonly>
                      <span class="input-group-btn">
                        <button class="btn default" type="button"><i class="icon-calendar"></i></button>
                      </span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><strong>John Doe</strong></td>
                  <td>Project Manager</td>
                  <td>
                    <div class="input-group input-medium date date-picker" data-date="12-04-2014" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                      <input type="text" class="form-control" readonly>
                      <span class="input-group-btn">
                        <button class="btn default" type="button"><i class="icon-calendar"></i></button>
                      </span>
                    </div>
                  </td>
                  <td>
                    <span class="label label-success">Approved</span>
                  </td>
                  <td>
                    <div class="input-group input-medium date date-picker" data-date="12-04-2014" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                      <input type="text" class="form-control" readonly>
                      <span class="input-group-btn">
                        <button class="btn default" type="button"><i class="icon-calendar"></i></button>
                      </span>
                    </div>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
      <p class="form-actions">
        <a href="#" class="btn dark">Back</a>
        <a href="#" class="btn red pull-right">Delete</a>
      </p>
    </div>
  </div>
  <div class="clearfix">
    <div class="col_20">
      <div class="flip grid_2x">
        <div class="card">
          <div class="face front">
            <h4 class="card-title clearfix">
              <i class="icon-link"></i> Scope
              <div class="btn-group charter-action">
                <a class="add btn red" href="#">Aprroved</a>
                <a class="add btn dark" href="#">Reject</a>
              </div>
            </h4>
            <div class="card-body">
              <div class="scroller">
                <ul>
                  <li class="alert-dismissable"><a href="#">Document Requirements</a>
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                  </li>
                  <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                    <a href="#">Build Mockup</a>
                  </li>
                  <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                    <a href="#">Buil Early Prototype</a>
                  </li>
                  <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                    <a href="#">Engage Programmer</a>
                    <a href="#" id="dob" data-type="combodate" data-value="2014-04-14" data-format="YYYY-MM-DD" data-viewformat="DD/MM/YYYY" data-template="D / MMM / YYYY" data-pk="1"  data-original-title="Select Date"></a>
                  </li>
                  <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                    <a href="#">Build Alpha</a></li>
                  <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                    <a href="#">Build Testing</a>
                    <a href="#"  id="event" data-type="combodate" data-value="2014-04-14" data-format="YYYY-MM-DD" data-viewformat="DD/MM/YYYY" data-template="D / MMM / YYYY" data-pk="1"  data-original-title="Select Date"></a>
                  </li>
                  <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                    <a href="#">Build Beta</a></li>
                  <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                    <a href="#">Release Beta</a></li>
                  <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                    <a href="#">Release Open Beta</a></li>
                  <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                    <a href="#">First Paying Customer</a>
                    <a href="#" id="meeting_start" data-type="combodate" data-value="2014-04-14" data-format="YYYY-MM-DD" data-viewformat="DD/MM/YYYY" data-template="D / MMM / YYYY" data-pk="1"  data-original-title="Select Date"></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="face back">
            <h4 class="card-title clearfix">
              <i class="icon-link"></i> Scope Management
              <div class="btn-group charter-action">
                <a class="add btn red" href="#">Aprroved</a>
                <a class="add btn dark" href="#">Reject</a>
              </div>
            </h4>
            <div class="card-body">
              <p>Nunc congue aliquam egestas.</p>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col_20">
      <div class="flip">
        <div class="card">
          <div class="face front">
            <h4 class="card-title clearfix">
              <i class="icon-check"></i> Key Milestone
              <div class="btn-group charter-action">
                <a class="add btn red" href="#">Aprroved</a>
                <a class="add btn dark" href="#">Reject</a>
              </div>
            </h4>
            <div class="card-body">
              <div class="scroller">
                <ul>
                  <li class="alert-dismissable"><a href="#">Document Requirements</a>
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                  </li>
                  <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                    <a href="#">Build Mockup</a>
                  </li>
                  <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                    <a href="#">Buil Early Prototype</a>
                  </li>
                  <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                    <a href="#">Engage Programmer</a>
                    <a href="#" id="dob" data-type="combodate" data-value="2014-04-14" data-format="YYYY-MM-DD" data-viewformat="DD/MM/YYYY" data-template="D / MMM / YYYY" data-pk="1"  data-original-title="Select Date"></a>
                  </li>
                  <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                    <a href="#">Build Alpha</a></li>
                  <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                    <a href="#">Build Testing</a>
                    <a href="#"  id="event" data-type="combodate" data-value="2014-04-14" data-format="YYYY-MM-DD" data-viewformat="DD/MM/YYYY" data-template="D / MMM / YYYY" data-pk="1"  data-original-title="Select Date"></a>
                  </li>
                  <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                    <a href="#">Build Beta</a></li>
                  <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                    <a href="#">Release Beta</a></li>
                  <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                    <a href="#">Release Open Beta</a></li>
                  <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                    <a href="#">First Paying Customer</a>
                    <a href="#" id="meeting_start" data-type="combodate" data-value="2014-04-14" data-format="YYYY-MM-DD" data-viewformat="DD/MM/YYYY" data-template="D / MMM / YYYY" data-pk="1"  data-original-title="Select Date"></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="face back">
            <h4 class="card-title clearfix"><i class="icon-check"></i> Key Milestone Management
              <div class="btn-group charter-action">
                <a class="add btn red" href="#">Aprroved</a>
                <a class="add btn dark" href="#">Reject</a>
              </div>

            </h4>
            <div class="card-body">
              <p>Nunc congue aliquam egestas.</p>

            </div>
          </div>
        </div>
      </div>
      <div class="flip">
        <div class="card">
          <div class="face front">
            <h4 class="card-title clearfix"><i class="icon-group"></i> Human Resources
              <div class="btn-group charter-action">
                <a class="add btn red" href="#">Aprroved</a>
                <a class="add btn dark" href="#">Reject</a>
              </div>

            </h4>
            <div class="card-body">
              <div class="scroller">
                <ul>
                  <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Chris O’Halloran</a></li>
                  <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Aaron Hidson</a></li>
                  <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Adam Eliston</a></li>
                  <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Jame</a></li>
                  <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">David Hudson</a></li>
                  <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Mark Fishwick</a></li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col_20">
      <div class="flip grid_2x">
        <div class="card">
          <div class="face front">
            <h4 class="card-title clearfix">
              <i class="icon-link"></i> Communication
              <div class="btn-group charter-action">
                <a class="add btn red" href="#">Aprroved</a>
                <a class="add btn dark" href="#">Reject</a>
              </div>

            </h4>
            <div class="card-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc congue aliquam egestas.</p>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col_20">
      <div class="flip">
        <div class="card">
          <div class="face front">
            <h4 class="card-title clearfix">
              <i class="icon-heart"></i> Quality
              <div class="btn-group charter-action">
                <a class="add btn red" href="#">Aprroved</a>
                <a class="add btn dark" href="#">Reject</a>
              </div>
            </h4>
            <div class="card-body">
              <div class="scroller">
                <ul>
                  <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Html 5 open standards</a></li>
                  <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Ruby on Rails</a></li>
                  <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">CSS 3 styling</a></li>
                  <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">60 bugs at private Beta</a></li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="flip">
        <div class="card">
          <div class="face front">
            <h4 class="card-title clearfix">
              <i class="icon-warning-sign"></i> Risk
              <div class="btn-group charter-action">
                <a class="add btn red" href="#">Aprroved</a>
                <a class="add btn dark" href="#">Reject</a>
              </div>

            </h4>
            <div class="card-body">
              <div class="scroller">
                <ul>
                  <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Software goes over budget</a></li>
                  <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Software not delivered on time</a></li>
                  <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Key resources no available</a></li>
                  <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Stakeholder requirements not met</a></li>
                  <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">AIPM does not endorse software</a></li>
                  <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Market doesnot purchase software</a></li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col_20">
      <div class="flip grid_2x">

        <div class="card">
          <div class="face front">
            <h4 class="card-title clearfix"><i class="icon-tag"></i> Procurement
              <div class="btn-group charter-action">
                <a class="add btn red" href="#">Aprroved</a>
                <a class="add btn dark" href="#">Reject</a>
              </div>
            </h4>
            <div class="card-body">
              <div class="scroller">
                <ul>
                  <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Software Engineer</a></li>
                  <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Laptop</a></li>
                  <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Software</a></li>
                  <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Server space</a></li>
                  <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Website space</a></li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col_50">
      <div class="flip">
        <div class="card">
          <div class="face front">
            <h4 class="card-title clearfix">
              <i class="icon-user"></i> Stakeholder
              <div class="btn-group charter-action">
                <a class="add btn red" href="#">Aprroved</a>
                <a class="add btn dark" href="#">Reject</a>
              </div>
            </h4>
            <div class="card-body">
              <div class="scroller">
                <ul>
                  <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Chris O’Halloran</a></li>
                  <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Aaron Hidson</a></li>
                  <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Adam Eliston</a></li>
                  <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Jame</a></li>
                  <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">David Hudson</a></li>
                  <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Mark Fishwick</a></li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col_50">
      <div class="flip">
        <div class="card">
          <div class="face front">
            <h4 class="card-title clearfix">
              <i class="icon-usd"></i> Budget
              <div class="btn-group charter-action">
                <a class="add btn red" href="#">Aprroved</a>
                <a class="add btn dark" href="#">Reject</a>
              </div>
            </h4>
            <div class="card-body">
              <div class="scroller" data-always-visible="1" data-rail-visible="0">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label class="col-sm-5 control-label">Estimate</label>
                    <div class="col-sm-7">
                      <input class="form-control" type="text" placeholder="$0.00">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-5 control-label">Budget Accuracy</label>
                    <div class="col-sm-7">
                      <input class="form-control" type="text" placeholder="%0.00">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-5 control-label">Risk Contigency</label>
                    <div class="col-sm-7">
                      <input class="form-control" type="text" placeholder="$0.00">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="subcribtion-txt">
  <h4 class="text-center"><em>Follow Us for a chance to snag a subcribtion coupon</em></h4>
</div>
<div class="social_follow text-center">
  <a href="#" class="ico-twitter"><i class="icon-twitter"></i> Follow Us on Twitter</a>
  <a href="#" class="ico-dribble"><i class="icon-dribbble"></i> Follow Us on Dribbble</a>
  <a href="#" class="ico-behance"><i class="icon-behance"></i> Follow Us on Behance</a>
  <a href="#" class="ico-pinterest"><i class="icon-pinterest"></i> Follow Us on Pinterest</a>
</div>