<!DOCTYPE html>
<!--
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.0
Version: 1.5
Author: KeenThemes
Website: http://www.keenthemes.com/
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
  <!-- BEGIN HEAD -->
  <head>
    <meta charset="utf-8" />
    <title>Metronic | Layouts - Horizontal & Sidebar Menu</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <meta name="MobileOptimized" content="320" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="/assets/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/uniform.default.css" rel="stylesheet" type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link href="/assets/style-metronic.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/style.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/style-responsive.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/plugins.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/default.css" rel="stylesheet" type="text/css" id="style_color"/>
    <link href="/assets/custom.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/html5charter.css" rel="stylesheet" type="text/css"/>
    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />
  </head>
  <!-- BEGIN BODY -->
  <body class="page-header-fixed page-html5-charter">
    <!-- BEGIN HEADER -->
    <div class="header navbar navbar-inverse navbar-fixed-top">
      <!-- BEGIN TOP NAVIGATION BAR -->
      <div class="header-inner">
        <!-- BEGIN LOGO -->
        <a class="navbar-brand" href="index.html">
          <img src="/assets/logo.png" alt="logo" class="img-responsive" />
        </a>
        <div class="search-form input-icon right">
          <i class="icon-search"></i>
          <input type="text" class="form-control" placeholder="Search...">
        </div>
        <!-- END LOGO -->
        <!-- BEGIN HORIZANTAL MENU -->
        <div class="hor-menu hidden-sm hidden-xs pull-right">
          <label class="un-loggin">Register to use project canvas
            <button href="#" class="btn yellow" type="button">Log In</button>
            <button href="#" class="btn dark" type="button">Sign Up</button>
          </label>
        </div>
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:;" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <img src="/assets/menu-toggler.png" alt="" />
        </a>
        <!-- END RESPONSIVE MENU TOGGLER -->

      </div>
      <!-- END TOP NAVIGATION BAR -->
    </div>

    <div class="container">
      <div class="html5-charter-section-1">
        <div class="project-info-header">
          <h2 class="project-name">Project Name</h2>
          <span class="project-cat"><strong>Category: </strong> Medical</span>
          <div class="clearfix text-right">
            <h4 class="pull-left">Project Manager: <a href="#">Chris O'Hara</a></h4>
            <a href="#" class="btn yellow"><i class="icon-share"></i> Share</a>
            <a href="#" class="btn yellow"><i class="icon-download"></i> Download</a>
          </div>
        </div>
        <div class="portlet box yellow">
          <div class="portlet-title">
            <div class="caption">Project purpose or justification</div>
          </div>
          <div class="portlet-body">
            Chris and Aaron believe there is a gap in the market for an intellgient Project Information Management System Market research suggests reasonalble market share can be gained from the $129 billion project management saas market
          </div>
        </div>
        <div class="portlet box yellow">
          <div class="portlet-title">
            <div class="caption">Statement of work</div>
          </div>
          <div class="portlet-body">
            To build a project management information system that is user friendly yet powerful and follow PMI’s PMBoK bes pratice franework. The software should be cloud based and designed to work on mobile devices, tables and desktop computers
          </div>
        </div>
      </div>

      <div class="html5-charter-section-2 clearfix">
        <div class="row">
          <div class="col-sm-3">
            <div class="portlet box yellow">
              <div class="portlet-title">
                <div class="caption"><i class="icon-check"></i> Milestones</div>
              </div>
              <div class="portlet-body">
                <ul>
                  <li class="alert-dismissable"><a href="#">Document Requirements</a>
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                  </li>
                  <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                    <a href="#">Build Mockup</a>
                  </li>
                  <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                    <a href="#">Buil Early Prototype</a>
                  </li>
                  <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                    <a href="#">Engage Programmer</a>
                    <a href="#" id="dob" data-type="combodate" data-value="2014-04-14" data-format="YYYY-MM-DD" data-viewformat="DD/MM/YYYY" data-template="D / MMM / YYYY" data-pk="1"  data-original-title="Select Date"></a>
                  </li>
                  <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                    <a href="#">Build Alpha</a></li>
                  <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                    <a href="#">Build Testing</a>
                    <a href="#"  id="event" data-type="combodate" data-value="2014-04-14" data-format="YYYY-MM-DD" data-viewformat="DD/MM/YYYY" data-template="D / MMM / YYYY" data-pk="1"  data-original-title="Select Date"></a>
                  </li>
                  <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                    <a href="#">Build Beta</a></li>
                  <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                    <a href="#">Release Beta</a></li>
                  <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                    <a href="#">Release Open Beta</a></li>
                  <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                    <a href="#">First Paying Customer</a>
                    <a href="#" id="meeting_start" data-type="combodate" data-value="2014-04-14" data-format="YYYY-MM-DD" data-viewformat="DD/MM/YYYY" data-template="D / MMM / YYYY" data-pk="1"  data-original-title="Select Date"></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="portlet box yellow">
              <div class="portlet-title">
                <div class="caption"><i class="icon-cog"></i> Deliverables</div>
              </div>
              <div class="portlet-body">
                <ul>
                  <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Html 5 open standards</a></li>
                  <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Ruby on Rails</a></li>
                  <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">CSS 3 styling</a></li>
                  <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">60 bugs at private Beta</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="portlet box yellow">
              <div class="portlet-title">
                <div class="caption"><i class="icon-key"></i> Key Resources</div>
              </div>
              <div class="portlet-body">
                <ul>
                  <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Html 5 open standards</a></li>
                  <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Ruby on Rails</a></li>
                  <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">CSS 3 styling</a></li>
                  <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">60 bugs at private Beta</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="portlet box yellow">
              <div class="portlet-title">
                <div class="caption"><i class="icon-heart"></i> Quality</div>
              </div>
              <div class="portlet-body">
                <ul>
                  <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Html 5 open standards</a></li>
                  <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Ruby on Rails</a></li>
                  <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">CSS 3 styling</a></li>
                  <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">60 bugs at private Beta</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="portlet box yellow">
              <div class="portlet-title">
                <div class="caption"><i class="icon-usd"></i> Budget</div>
              </div>
              <div class="portlet-body">
                <p><strong>Estimate :</strong> $625</p>
                <p><strong>Budget Accuracy :</strong> 11,2%</p>
                <p><strong>Risk Contigency :</strong> 2%</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="portlet box yellow">
              <div class="portlet-title">
                <div class="caption"><i class="icon-warning-sign"></i> Risks</div>
              </div>
              <div class="portlet-body">
                <div class="scroller">
                  <ul>
                    <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Software goes over budget</a></li>
                    <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Software not delivered on time</a></li>
                    <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Key resources no available</a></li>
                    <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Stakeholder requirements not met</a></li>
                    <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">AIPM does not endorse software</a></li>
                    <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Market doesnot purchase software</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="page-actions clearfix">
        <a href="#" class="btn red">Approved</a>
        <a href="#" class="btn dark pull-right">Reject</a>
      </div>

      <div class="subcribtion-txt">
        <h4 class="text-center"><em>Follow Us for a chance to snag a subcribtion coupon</em></h4>
      </div>

      <div class="social_follow text-center">
        <a href="#" class="ico-twitter"><i class="icon-twitter"></i> Follow Us on Twitter</a>
        <a href="#" class="ico-dribble"><i class="icon-dribbble"></i> Follow Us on Dribbble</a>
        <a href="#" class="ico-behance"><i class="icon-behance"></i> Follow Us on Behance</a>
        <a href="#" class="ico-pinterest"><i class="icon-pinterest"></i> Follow Us on Pinterest</a>
      </div>
    </div>
    <div class="footer">
      <div class="footer-inner">
        2013 &copy; Metronic by keenthemes.
      </div>
      <div class="footer-tools">
        <span class="go-top">
          <i class="icon-angle-up"></i>
        </span>
      </div>
    </div>
    <!--[if lt IE 9]>
    <script src="/assets/excanvas.min.js"></script>
    <script src="/assets/respond.min.js"></script>
    <![endif]-->
    <script src="/assets/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="/assets/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
    <script src="/assets/bootstrap.min.js" type="text/javascript"></script>
    <script src="/assets/bootstrap2-typeahead.min.js" type="text/javascript"></script>
    <script src="/assets/twitter-bootstrap-hover-dropdown.min.js" type="text/javascript" ></script>
    <script src="/assets/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="/assets/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="/assets/jquery.cookie.min.js" type="text/javascript"></script>
    <script src="/assets/jquery.uniform.min.js" type="text/javascript" ></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <!-- BEGIN PLUGINS USED BY X-EDITABLE -->
    <script type="text/javascript" src="/assets/select2.min.js"></script>
    <script type="text/javascript" src="/assets/wysihtml5-0.3.0.js"></script>
    <script type="text/javascript" src="/assets/bootstrap-wysihtml5.js"></script>
    <script type="text/javascript" src="/assets/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="/assets/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="/assets/moment.min.js"></script>
    <script type="text/javascript" src="/assets/jquery.mockjax.js"></script>
    <script type="text/javascript" src="/assets/bootstrap-editable.min.js"></script>
    <script type="text/javascript" src="/assets/address.js"></script>
    <script type="text/javascript" src="/assets/wysihtml5.js"></script>
    <!-- END X-EDITABLE PLUGIN -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="/assets/app.js"></script>
    <script src="/assets/form-editable.js"></script>

    <script src="/assets/form-components.js"></script>
    <script>
      jQuery(document).ready(function() {
        // initiate layout and plugins
        App.init();
        FormEditable.init();
        $('.date-picker').datepicker({
          rtl: App.isRTL(),
          autoclose: true
        });
      });
    </script>
    <script type="text/javascript">
      $('.front .swap').click(function(){
        $(this).parents('.card').addClass('flipped');
      });

      $(".back .swap").click(function(evt){
        $(this).parents('.card').removeClass('flipped');
      });
    </script>
  </body>
  <!-- END BODY -->
</html>