
<div class="container un-loggin-container">

  <div class="page-header clearfix text-right">
    <h4 class="pull-left">Project Manager: <a href="#">Chris O'Hara</a></h4>
    <a href="#" class="btn yellow"><i class="icon-share"></i> Share</a>
    <a href="#" class="btn yellow"><i class="icon-download"></i> Download</a>
  </div>
  <hr>
  <div class="page-content-unloggin">
    <div class="clearfix">
      <div class="col_20">
        <div class="flip grid_2x">
          <div class="card">
            <div class="face front">
              <h4 class="card-title"><i class="icon-link"></i> Scope</h4>
              <div class="card-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc congue aliquam egestas.</p>
              </div>
              <div class="card-action">
                <div class="collapse" id="add-scope">
                  <div class="input-group">
                    <input class="form-control" type="text">
                    <span class="input-group-btn"><button class="btn btn-default"><i class="icon-plus"></i></button></span>
                  </div>
                </div>
              </div>
              <a class="add btn btn-default" href="#add-scope" data-toggle="collapse">Add</a>
              <a class="swap" href="#demo"><i class="icon-refresh"></i></a>
            </div>
            <div class="face back">
              <h4 class="card-title"><i class="icon-link"></i> Scope Management</h4>
              <div class="card-body">
                <p>Nunc congue aliquam egestas.</p>

              </div>
              <a class="swap" href="#demo"><i class="icon-refresh"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col_20">
        <div class="flip">
          <div class="card">
            <div class="face front">
              <h4 class="card-title"><i class="icon-check"></i> Key Milestone</h4>
              <div class="card-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc congue aliquam egestas.</p>
              </div>
              <div class="card-action">
                <div class="collapse" id="add-milestone">
                  <div class="input-group">
                    <input class="form-control" type="text">
                    <span class="input-group-btn"><button class="btn btn-default"><i class="icon-plus"></i></button></span>
                  </div>
                </div>
              </div>
              <a class="add btn btn-default" href="#add-milestone" data-toggle="collapse">Add</a>
              <a class="swap" href="#demo"><i class="icon-refresh"></i></a>
            </div>
            <div class="face back">
              <h4 class="card-title"><i class="icon-check"></i> Key Milestone Management</h4>
              <div class="card-body">
                <p>Nunc congue aliquam egestas.</p>

              </div>
              <a class="swap" href="#demo"><i class="icon-refresh"></i></a>
            </div>
          </div>
        </div>
        <div class="flip">
          <div class="card">
            <div class="face front">
              <h4 class="card-title"><i class="icon-group"></i> Human Resources</h4>
              <div class="card-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc congue aliquam egestas.</p>
              </div>
              <div class="card-action">
                <div class="collapse" id="add-resources">
                  <div class="input-group">
                    <input class="form-control" type="text">
                    <span class="input-group-btn"><button class="btn btn-default"><i class="icon-plus"></i></button></span>
                  </div>
                </div>
              </div>
              <a class="add btn btn-default" href="#add-resources" data-toggle="collapse">Add</a>
              <a class="swap" href="#demo"><i class="icon-refresh"></i></a>
            </div>
            <div class="face back">
              <h4 class="card-title"><i class="icon-group"></i> Human Resources Management</h4>
              <div class="card-body">
                <p>Nunc congue aliquam egestas.</p>

              </div>
              <a class="swap" href="#demo"><i class="icon-refresh"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col_20">
        <div class="flip grid_2x">
          <div class="card">
            <div class="face front">
              <h4 class="card-title"><i class="icon-link"></i> Communication</h4>
              <div class="card-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc congue aliquam egestas.</p>
              </div>
              <div class="card-action">
                <div class="collapse" id="add-communication">
                  <div class="input-group">
                    <input class="form-control" type="text">
                    <span class="input-group-btn"><button class="btn btn-default"><i class="icon-plus"></i></button></span>
                  </div>
                </div>
              </div>
              <a class="add btn btn-default" href="#add-communication" data-toggle="collapse">Add</a>
              <a class="swap" href="#demo"><i class="icon-refresh"></i></a>
            </div>
            <div class="face back">
              <h4 class="card-title"><i class="icon-link"></i> Communication Management</h4>
              <div class="card-body">
                <p>Nunc congue aliquam egestas.</p>

              </div>
              <a class="swap" href="#demo"><i class="icon-refresh"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col_20">
        <div class="flip">
          <div class="card">
            <div class="face front">
              <h4 class="card-title"><i class="icon-heart"></i> Quality</h4>
              <div class="card-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc congue aliquam egestas.</p>
              </div>
              <div class="card-action">
                <div class="collapse" id="add-quality">
                  <div class="input-group">
                    <input class="form-control" type="text">
                    <span class="input-group-btn"><button class="btn btn-default"><i class="icon-plus"></i></button></span>
                  </div>
                </div>
              </div>
              <a class="add btn btn-default" href="#add-quality" data-toggle="collapse">Add</a>
              <a class="swap" href="#demo"><i class="icon-refresh"></i></a>
            </div>
            <div class="face back">
              <h4 class="card-title"><i class="icon-heart"></i> Quality Management</h4>
              <div class="card-body">
                <p>Nunc congue aliquam egestas.</p>

              </div>
              <a class="swap" href="#demo"><i class="icon-refresh"></i></a>
            </div>
          </div>
        </div>
        <div class="flip">
          <div class="card">
            <div class="face front">
              <h4 class="card-title"><i class="icon-warning-sign"></i> Risk</h4>
              <div class="card-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc congue aliquam egestas.</p>
              </div>
              <div class="card-action">
                <div class="collapse" id="add-risk">
                  <div class="input-group">
                    <input class="form-control" type="text">
                    <span class="input-group-btn"><button class="btn btn-default"><i class="icon-plus"></i></button></span>
                  </div>
                </div>
              </div>
              <a class="add btn btn-default" href="#add-risk" data-toggle="collapse">Add</a>
              <a class="swap" href="#demo"><i class="icon-refresh"></i></a>
            </div>
            <div class="face back">
              <h4 class="card-title"><i class="icon-warning-sign"></i> Risk Management</h4>
              <div class="card-body">
                <p>Nunc congue aliquam egestas.</p>

              </div>
              <a class="swap" href="#demo"><i class="icon-refresh"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col_20">
        <div class="flip grid_2x">
          <div class="card">
            <div class="face front">
              <h4 class="card-title"><i class="icon-user"></i> Stakeholder</h4>
              <div class="card-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc congue aliquam egestas.</p>
              </div>
              <div class="card-action">
                <div class="collapse" id="add-stakefolder">
                  <div class="input-group">
                    <input class="form-control" type="text">
                    <span class="input-group-btn"><button class="btn btn-default"><i class="icon-plus"></i></button></span>
                  </div>
                </div>
              </div>
              <a class="add btn btn-default" href="#add-stakefolder" data-toggle="collapse">Add</a>
              <a class="swap" href="#demo"><i class="icon-refresh"></i></a>
            </div>
            <div class="face back">
              <h4 class="card-title"><i class="icon-user"></i> Stakeholder Management</h4>
              <div class="card-body">
                <p>Nunc congue aliquam egestas.</p>

              </div>
              <a class="swap" href="#demo"><i class="icon-refresh"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col_50">
        <div class="flip">
          <div class="card">
            <div class="face front">
              <h4 class="card-title"><i class="icon-tag"></i> Procurement</h4>
              <div class="card-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc congue aliquam egestas.</p>
              </div>
              <div class="card-action">
                <div class="collapse" id="add-procurement">
                  <div class="input-group">
                    <input class="form-control" type="text">
                    <span class="input-group-btn"><button class="btn btn-default"><i class="icon-plus"></i></button></span>
                  </div>
                </div>
              </div>
              <a class="add btn btn-default" href="#add-procurement" data-toggle="collapse">Add</a>
              <a class="swap" href="#demo"><i class="icon-refresh"></i></a>
            </div>
            <div class="face back">
              <h4 class="card-title"><i class="icon-tag"></i> Procurement Management</h4>
              <div class="card-body">
                <p>Nunc congue aliquam egestas.</p>

              </div>
              <a class="swap" href="#demo"><i class="icon-refresh"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col_50">
        <div class="flip">
          <div class="card">
            <div class="face front">
              <h4 class="card-title"><i class="icon-usd"></i> Cost</h4>
              <div class="card-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc congue aliquam egestas.</p>
              </div>
              <div class="card-action">
                <div class="collapse" id="add-cost">
                  <div class="input-group">
                    <input class="form-control" type="text">
                    <span class="input-group-btn"><button class="btn btn-default"><i class="icon-plus"></i></button></span>
                  </div>
                </div>
              </div>
              <a class="add btn btn-default" href="#add-cost" data-toggle="collapse">Add</a>
              <a class="swap" href="#demo"><i class="icon-refresh"></i></a>
            </div>
            <div class="face back">
              <h4 class="card-title"><i class="icon-usd"></i> Cost Management</h4>
              <div class="card-body">
                <p>Nunc congue aliquam egestas.</p>

              </div>
              <a class="swap" href="#demo"><i class="icon-refresh"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="subcribtion-txt">
    <h4 class="text-center"><em>Follow Us for a chance to snag a subcribtion coupon</em></h4>
  </div>
  <div class="social_follow text-center">
    <a href="#" class="ico-twitter"><i class="icon-twitter"></i> Follow Us on Twitter</a>
    <a href="#" class="ico-dribble"><i class="icon-dribbble"></i> Follow Us on Dribbble</a>
    <a href="#" class="ico-behance"><i class="icon-behance"></i> Follow Us on Behance</a>
    <a href="#" class="ico-pinterest"><i class="icon-pinterest"></i> Follow Us on Pinterest</a>
  </div>
</div>
<div class="footer">
  <div class="footer-inner">
			2013 &copy; Metronic by keenthemes.
  </div>
  <div class="footer-tools">
    <span class="go-top">
      <i class="icon-angle-up"></i>
    </span>
  </div>
</div> 