<div class="container un-loggin-container">
  <div class="page-header clearfix text-right">
    <a href="#" class="btn yellow"><i class="icon-share"></i> Share</a>
    <a href="#" class="btn yellow"><i class="icon-download"></i> Download</a>
  </div>
  <div class="page-content-unloggin">
    <div class="clearfix">
      <div class="col_20">
        <div class="flip grid_2x">
          <div class="card">
            <div class="face front">
              <h4 class="card-title"><i class="icon-link"></i> Scope</h4>
              <div class="card-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc congue aliquam egestas.</p>
              </div>
              <a class="swap" href="#"><i class="icon-refresh"></i></a>
            </div>
            <div class="face back">
              <h4 class="card-title"><i class="icon-link"></i> Scope Management</h4>
              <div class="card-body">
                <p>Nunc congue aliquam egestas.</p>
              </div>
              <a class="swap" href="#"><i class="icon-refresh"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col_20">
        <div class="flip">
          <div class="card">
            <div class="face front">
              <h4 class="card-title"><i class="icon-link"></i> Scope</h4>
              <div class="card-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc congue aliquam egestas.</p>
              </div>
              <a class="swap" href="#"><i class="icon-refresh"></i></a>
            </div>
            <div class="face back">
              <h4 class="card-title"><i class="icon-link"></i> Scope Management</h4>
              <div class="card-body">
                <p>Nunc congue aliquam egestas.</p>
              </div>
              <a class="swap" href="#"><i class="icon-refresh"></i></a>
            </div>
          </div>
        </div>
        <div class="flip">
          <div class="card">
            <div class="face front">
              <h4 class="card-title"><i class="icon-link"></i> Scope</h4>
              <div class="card-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc congue aliquam egestas.</p>
              </div>
              <a class="swap" href="#"><i class="icon-refresh"></i></a>
            </div>
            <div class="face back">
              <h4 class="card-title"><i class="icon-link"></i> Scope Management</h4>
              <div class="card-body">
                <p>Nunc congue aliquam egestas.</p>
              </div>
              <a class="swap" href="#"><i class="icon-refresh"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col_20">
        <div class="flip grid_2x">
          <div class="card">
            <div class="face front">
              <h4 class="card-title"><i class="icon-link"></i> Scope</h4>
              <div class="card-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc congue aliquam egestas.</p>
              </div>
              <a class="swap" href="#"><i class="icon-refresh"></i></a>
            </div>
            <div class="face back">
              <h4 class="card-title"><i class="icon-link"></i> Scope Management</h4>
              <div class="card-body">
                <p>Nunc congue aliquam egestas.</p>
              </div>
              <a class="swap" href="#"><i class="icon-refresh"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col_20">
        <div class="flip">
          <div class="card">
            <div class="face front">
              <h4 class="card-title"><i class="icon-link"></i> Scope</h4>
              <div class="card-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc congue aliquam egestas.</p>
              </div>
              <a class="swap" href="#"><i class="icon-refresh"></i></a>
            </div>
            <div class="face back">
              <h4 class="card-title"><i class="icon-link"></i> Scope Management</h4>
              <div class="card-body">
                <p>Nunc congue aliquam egestas.</p>
              </div>
              <a class="swap" href="#"><i class="icon-refresh"></i></a>
            </div>
          </div>
        </div>
        <div class="flip">
          <div class="card">
            <div class="face front">
              <h4 class="card-title"><i class="icon-link"></i> Scope</h4>
              <div class="card-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc congue aliquam egestas.</p>
              </div>
              <a class="swap" href="#"><i class="icon-refresh"></i></a>
            </div>
            <div class="face back">
              <h4 class="card-title"><i class="icon-link"></i> Scope Management</h4>
              <div class="card-body">
                <p>Nunc congue aliquam egestas.</p>
              </div>
              <a class="swap" href="#"><i class="icon-refresh"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col_20">
        <div class="flip grid_2x">
          <div class="card">
            <div class="face front">
              <h4 class="card-title"><i class="icon-link"></i> Scope</h4>
              <div class="card-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc congue aliquam egestas.</p>
              </div>
              <a class="swap" href="#"><i class="icon-refresh"></i></a>
            </div>
            <div class="face back">
              <h4 class="card-title"><i class="icon-link"></i> Scope Management</h4>
              <div class="card-body">
                <p>Nunc congue aliquam egestas.</p>
              </div>
              <a class="swap" href="#"><i class="icon-refresh"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col_50">
        <div class="flip">
          <div class="card">
            <div class="face front">
              <h4 class="card-title"><i class="icon-link"></i> Scope</h4>
              <div class="card-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc congue aliquam egestas.</p>
              </div>
              <a class="swap" href="#"><i class="icon-refresh"></i></a>
            </div>
            <div class="face back">
              <h4 class="card-title"><i class="icon-link"></i> Scope Management</h4>
              <div class="card-body">
                <p>Nunc congue aliquam egestas.</p>
              </div>
              <a class="swap" href="#"><i class="icon-refresh"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col_50">
        <div class="flip">
          <div class="card">
            <div class="face front">
              <h4 class="card-title"><i class="icon-link"></i> Scope</h4>
              <div class="card-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc congue aliquam egestas.</p>
              </div>
              <a class="swap" href="#"><i class="icon-refresh"></i></a>
            </div>
            <div class="face back">
              <h4 class="card-title"><i class="icon-link"></i> Scope Management</h4>
              <div class="card-body">
                <p>Nunc congue aliquam egestas.</p>
              </div>
              <a class="swap" href="#"><i class="icon-refresh"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="subcribtion-txt">
    <h4 class="text-center"><em>Follow Us for a chance to snag a subcribtion coupon</em></h4>
  </div>
  <div class="social_follow text-center">
    <a href="#" class="ico-twitter"><i class="icon-twitter"></i> Follow Us on Twitter</a>
    <a href="#" class="ico-dribble"><i class="icon-dribbble"></i> Follow Us on Dribbble</a>
    <a href="#" class="ico-behance"><i class="icon-behance"></i> Follow Us on Behance</a>
    <a href="#" class="ico-pinterest"><i class="icon-pinterest"></i> Follow Us on Pinterest</a>
  </div>
</div>