<div class="container un-loggin-container">
  <div class="page-header clearfix text-right">
    <a href="#" class="btn yellow"><i class="icon-share"></i> Share</a>
    <a href="#" class="btn yellow"><i class="icon-download"></i> Download</a>
  </div>
  <div class="page-content-unloggin">
    <div class="clearfix">
      <div class="col_20">
        <div class="grid grid_2x thumb scroll">
          <div class="thumb-wrapper">
            <h4 class="grid_title clearfix">Scope</h4>
            <div class="grid_body flipbox">
              <a href="#">Scope Link</a>
            </div>
            <div class="grid_action">

            </div>
            <div class="thumb-detail">
              Scope Management
            </div>
          </div>
        </div>
      </div>
      <div class="col_20">
        <div class="grid thumb scroll">
          <div class="thumb-wrapper">
            <h4 class="grid_title clearfix">Milestones</h4>
            <div class="grid_body flipbox">
              <a href="#">Milestone Link</a>
            </div>
            <div class="grid_action">

            </div>
            <div class="thumb-detail">
              Time Management
            </div>
          </div>
        </div>
        <div class="grid thumb scroll">
          <div class="thumb-wrapper">
            <h4 class="grid_title clearfix">Communications</h4>
            <div class="grid_body flipbox">
              <a href="#">Scope Link</a>
            </div>
            <div class="grid_action">

            </div>
            <div class="thumb-detail">
              aaa
            </div>
          </div>
        </div>
      </div>
      <div class="col_20">
        <div class="grid grid_2x thumb scroll">
          <div class="thumb-wrapper">
            <h4 class="grid_title clearfix">Quality</h4>
            <div class="grid_body flipbox">
              <a href="#">Quality Link</a>
            </div>
            <div class="grid_action">

            </div>
            <div class="thumb-detail">
              Quality Management
            </div>
          </div>
        </div>
      </div>
      <div class="col_20">
        <div class="grid thumb scroll">
          <div class="thumb-wrapper">
            <h4 class="grid_title clearfix">Risk</h4>
            <div class="grid_body flipbox">
              <a href="#">Risk Link</a>
            </div>
            <div class="grid_action">

            </div>
            <div class="thumb-detail">
              Risk Management
            </div>
          </div>
        </div>
        <div class="grid thumb scroll">
          <div class="thumb-wrapper">
            <h4 class="grid_title clearfix">Scope</h4>
            <div class="grid_body flipbox">
              <a href="#">Scope Link</a>
            </div>
            <div class="grid_action">

            </div>
            <div class="thumb-detail">
              bbb
            </div>
          </div>
        </div>
      </div>
      <div class="col_20">
        <div class="grid grid_2x thumb scroll">
          <div class="thumb-wrapper">
            <h4 class="grid_title clearfix">Procurements</h4>
            <div class="grid_body flipbox">
              <a href="#">Procurement Link</a>
            </div>
            <div class="grid_action">

            </div>
            <div class="thumb-detail">
              Procurement Management
            </div>
          </div>
        </div>
      </div>
      <div class="col_50">
        <div class="grid thumb scroll">
          <div class="thumb-wrapper">
            <h4 class="grid_title clearfix">Resources</h4>
            <div class="grid_body flipbox">
              <a href="#">Scope Link</a>
            </div>
            <div class="grid_action">

            </div>
            <div class="thumb-detail">
              Resources Management
            </div>
          </div>
        </div>
      </div>
      <div class="col_50">
        <div class="grid thumb scroll">
          <div class="thumb-wrapper">
            <h4 class="grid_title clearfix">Budget</h4>
            <div class="grid_body flipbox">
              <a href="#">Budget Link</a>
            </div>
            <div class="grid_action">

            </div>
            <div class="thumb-detail">
              Cost Management
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="subcribtion-txt">
    <h4 class="text-center"><em>Follow Us for a chance to snag a subcribtion coupon</em></h4>
  </div>
  <div class="social_follow text-center">
    <a href="#"><i class="icon-facebook"></i> Facebook</a>
    <a href="#"><i class="icon-twitter"></i> Twitter</a>
    <a href="#"><i class="icon-rss"></i> RSS</a>
    <a href="#"><i class="icon-pinterest"></i> Pinterest</a>
    <a href="#"><i class="icon-dribbble"></i> Dribbble</a>
  </div>
</div>

