<div class="container un-loggin-container">

  <div class="page-header clearfix text-right">
    <h4 class="pull-left">Project Manager: <a href="#">Chris O'Hara</a></h4>
    <a href="#" class="btn yellow"><i class="icon-share"></i> Share</a>
    <a href="#" class="btn yellow"><i class="icon-download"></i> Download</a>
  </div>
  <hr>
  <div class="page-content-unloggin">
    <div class="clearfix">
      <div class="col_20">
        <div class="flip grid_2x">
          <div class="card">
            <div class="face front">
              <h4 class="card-title clearfix">
                <i class="icon-link"></i> Scope
                <a class="add btn btn-default pull-right" href="#add-scope" data-toggle="collapse">Add</a>
              </h4>
              <div class="card-body">
                <div class="scroller">
                  <ul>
                    <li class="alert-dismissable"><a href="#">Document Requirements</a>
                      <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                    </li>
                    <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                      <a href="#">Build Mockup</a>
                    </li>
                    <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                      <a href="#">Buil Early Prototype</a>
                    </li>
                    <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                      <a href="#">Engage Programmer</a>
                      <a href="#" id="dob" data-type="combodate" data-value="2014-04-14" data-format="YYYY-MM-DD" data-viewformat="DD/MM/YYYY" data-template="D / MMM / YYYY" data-pk="1"  data-original-title="Select Date"></a>
                    </li>
                    <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                      <a href="#">Build Alpha</a></li>
                    <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                      <a href="#">Build Testing</a>
                      <a href="#"  id="event" data-type="combodate" data-value="2014-04-14" data-format="YYYY-MM-DD" data-viewformat="DD/MM/YYYY" data-template="D / MMM / YYYY" data-pk="1"  data-original-title="Select Date"></a>
                    </li>
                    <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                      <a href="#">Build Beta</a></li>
                    <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                      <a href="#">Release Beta</a></li>
                    <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                      <a href="#">Release Open Beta</a></li>
                    <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                      <a href="#">First Paying Customer</a>
                      <a href="#" id="meeting_start" data-type="combodate" data-value="2014-04-14" data-format="YYYY-MM-DD" data-viewformat="DD/MM/YYYY" data-template="D / MMM / YYYY" data-pk="1"  data-original-title="Select Date"></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="card-action">
                <div class="collapse" id="add-scope">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Title">
                    <input type="text" class="form-control date-picker" placeholder="Date">
                    <span class="input-group-addon"><button class="btn btn-default"><i class="icon-plus"></i></button></span>
                  </div>
                </div>
              </div>

              <a class="swap" href="#demo"><i class="icon-refresh"></i></a>
            </div>
            <div class="face back">
              <h4 class="card-title clearfix">
                <i class="icon-link"></i> Scope Management
                <a class="add btn btn-default pull-right" href="#add-scope-2" data-toggle="collapse">Add</a>
              </h4>
              <div class="card-body">
                <p>Nunc congue aliquam egestas.</p>

              </div>
              <div class="card-action">
                <div class="collapse" id="add-scope-2">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Title">
                    <input type="text" class="form-control date-picker" placeholder="Date">
                    <span class="input-group-addon"><button class="btn btn-default"><i class="icon-plus"></i></button></span>
                  </div>
                </div>
              </div>
              <a class="swap" href="#demo"><i class="icon-refresh"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col_20">
        <div class="flip">
          <div class="card">
            <div class="face front">
              <h4 class="card-title clearfix">
                <i class="icon-check"></i> Key Milestone
                <a class="add btn btn-default pull-right" href="#add-milestone" data-toggle="collapse">Add</a>
              </h4>
              <div class="card-body">
                <div class="scroller">
                  <ul>
                    <li class="alert-dismissable"><a href="#">Document Requirements</a>
                      <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                    </li>
                    <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                      <a href="#">Build Mockup</a>
                    </li>
                    <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                      <a href="#">Buil Early Prototype</a>
                    </li>
                    <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                      <a href="#">Engage Programmer</a>
                      <a href="#" id="dob" data-type="combodate" data-value="2014-04-14" data-format="YYYY-MM-DD" data-viewformat="DD/MM/YYYY" data-template="D / MMM / YYYY" data-pk="1"  data-original-title="Select Date"></a>
                    </li>
                    <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                      <a href="#">Build Alpha</a></li>
                    <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                      <a href="#">Build Testing</a>
                      <a href="#"  id="event" data-type="combodate" data-value="2014-04-14" data-format="YYYY-MM-DD" data-viewformat="DD/MM/YYYY" data-template="D / MMM / YYYY" data-pk="1"  data-original-title="Select Date"></a>
                    </li>
                    <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                      <a href="#">Build Beta</a></li>
                    <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                      <a href="#">Release Beta</a></li>
                    <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                      <a href="#">Release Open Beta</a></li>
                    <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                      <a href="#">First Paying Customer</a>
                      <a href="#" id="meeting_start" data-type="combodate" data-value="2014-04-14" data-format="YYYY-MM-DD" data-viewformat="DD/MM/YYYY" data-template="D / MMM / YYYY" data-pk="1"  data-original-title="Select Date"></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="card-action">
                <div class="collapse" id="add-milestone">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Title">
                    <input type="text" class="form-control date-picker" placeholder="Date">
                    <span class="input-group-addon"><button class="btn btn-default"><i class="icon-plus"></i></button></span>
                  </div>
                </div>
              </div>

              <a class="swap" href="#demo"><i class="icon-refresh"></i></a>
            </div>
            <div class="face back">
              <h4 class="card-title clearfix"><i class="icon-check"></i> Key Milestone Management
                <a class="add btn btn-default pull-right" href="#add-milestone-2" data-toggle="collapse">Add</a>

              </h4>
              <div class="card-body">
                <p>Nunc congue aliquam egestas.</p>

              </div>
              <div class="card-action">
                <div class="collapse" id="add-milestone-2">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Title">
                    <input type="text" class="form-control date-picker" placeholder="Date">
                    <span class="input-group-addon"><button class="btn btn-default"><i class="icon-plus"></i></button></span>
                  </div>
                </div>
              </div>
              <a class="swap" href="#demo"><i class="icon-refresh"></i></a>
            </div>
          </div>
        </div>
        <div class="flip">
          <div class="card">
            <div class="face front">
              <h4 class="card-title clearfix"><i class="icon-group"></i> Human Resources
                <a class="add btn btn-default pull-right" href="#add-resources" data-toggle="collapse">Add</a>

              </h4>
              <div class="card-body">
                <div class="scroller">
                  <ul>
                    <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Chris O’Halloran</a></li>
                    <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Aaron Hidson</a></li>
                    <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Adam Eliston</a></li>
                    <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Jame</a></li>
                    <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">David Hudson</a></li>
                    <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Mark Fishwick</a></li>
                  </ul>
                </div>
              </div>
              <div class="card-action">
                <div class="collapse" id="add-resources">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Human Resources">
                    <span class="input-group-btn">
                      <button class="btn btn-default"><i class="icon-plus"></i></button>
                    </span>
                  </div>
                </div>
              </div>
              <a class="swap" href="#demo"><i class="icon-refresh"></i></a>
            </div>
            <div class="face back">
              <h4 class="card-title clearfix"><i class="icon-group"></i> Human Resources Management
                <a class="add btn btn-default pull-right" href="#add-resources-2" data-toggle="collapse">Add</a>
              </h4>
              <div class="card-body">
                <p>Nunc congue aliquam egestas.</p>

              </div>
              <div class="card-action">
                <div class="collapse" id="add-resources-2">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Human Resources">
                    <span class="input-group-btn">
                      <button class="btn btn-default"><i class="icon-plus"></i></button>
                    </span>
                  </div>
                </div>
              </div>
              <a class="swap" href="#demo"><i class="icon-refresh"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col_20">
        <div class="flip grid_2x">
          <div class="card">
            <div class="face front">
              <h4 class="card-title clearfix">
                <i class="icon-link"></i> Communication
                <a class="add btn btn-default pull-right" href="#add-communication" data-toggle="collapse">Add</a>

              </h4>
              <div class="card-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc congue aliquam egestas.</p>
              </div>
              <div class="card-action">
                <div class="collapse" id="add-communication">
                  <div class="input-group">
                    <input class="form-control" type="text" placeholder="Communication">
                    <span class="input-group-btn"><button class="btn btn-default"><i class="icon-plus"></i></button></span>
                  </div>
                </div>
              </div>
              <a class="swap" href="#demo"><i class="icon-refresh"></i></a>
            </div>
            <div class="face back">
              <h4 class="card-title clearfix"><i class="icon-link"></i> Communication Management
                <a class="add btn btn-default pull-right" href="#add-communication-2" data-toggle="collapse">Add</a>
              </h4>
              <div class="card-body">
                <p>Nunc congue aliquam egestas.</p>

              </div>
              <div class="card-action">
                <div class="collapse" id="add-communication-2">
                  <div class="input-group">
                    <input class="form-control" type="text" placeholder="Communication">
                    <span class="input-group-btn"><button class="btn btn-default"><i class="icon-plus"></i></button></span>
                  </div>
                </div>
              </div>
              <a class="swap" href="#demo"><i class="icon-refresh"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col_20">
        <div class="flip">
          <div class="card">
            <div class="face front">
              <h4 class="card-title clearfix">
                <i class="icon-heart"></i> Quality
                <a class="add btn btn-default pull-right" href="#add-quality" data-toggle="collapse">Add</a>
              </h4>
              <div class="card-body">
                <div class="scroller">
                  <ul>
                    <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Html 5 open standards</a></li>
                    <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Ruby on Rails</a></li>
                    <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">CSS 3 styling</a></li>
                    <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">60 bugs at private Beta</a></li>
                  </ul>
                </div>
              </div>
              <div class="card-action">
                <div class="collapse" id="add-quality">
                  <div class="input-group">
                    <input class="form-control" type="text">
                    <span class="input-group-btn"><button class="btn btn-default"><i class="icon-plus"></i></button></span>
                  </div>
                </div>
              </div>
              <a class="swap" href="#demo"><i class="icon-refresh"></i></a>
            </div>
            <div class="face back">
              <h4 class="card-title clearfix"><i class="icon-heart"></i> Quality Management
                <a class="add btn btn-default pull-right" href="#add-quality-2" data-toggle="collapse">Add</a>
              </h4>
              <div class="card-body">
                <p>Nunc congue aliquam egestas.</p>

              </div>
              <div class="card-action">
                <div class="collapse" id="add-quality-2">
                  <div class="input-group">
                    <input class="form-control" type="text">
                    <span class="input-group-btn"><button class="btn btn-default"><i class="icon-plus"></i></button></span>
                  </div>
                </div>
              </div>
              <a class="swap" href="#demo"><i class="icon-refresh"></i></a>
            </div>
          </div>
        </div>
        <div class="flip">
          <div class="card">
            <div class="face front">
              <h4 class="card-title clearfix">
                <i class="icon-warning-sign"></i> Risk
                <a class="add btn btn-default pull-right" href="#add-risk" data-toggle="collapse">Add</a>

              </h4>
              <div class="card-body">
                <div class="scroller">
                  <ul>
                    <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Software goes over budget</a></li>
                    <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Software not delivered on time</a></li>
                    <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Key resources no available</a></li>
                    <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Stakeholder requirements not met</a></li>
                    <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">AIPM does not endorse software</a></li>
                    <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Market doesnot purchase software</a></li>
                  </ul>
                </div>
              </div>
              <div class="card-action">
                <div class="collapse" id="add-risk">
                  <div class="input-group">
                    <input class="form-control" type="text" placeholder="Risk">
                    <span class="input-group-btn"><button class="btn btn-default"><i class="icon-plus"></i></button></span>
                  </div>
                </div>
              </div>
              <a class="swap" href="#demo"><i class="icon-refresh"></i></a>
            </div>
            <div class="face back">
              <h4 class="card-title clearfix"><i class="icon-warning-sign"></i> Risk Management
                <a class="add btn btn-default pull-right" href="#add-risk-2" data-toggle="collapse">Add</a>
              </h4>
              <div class="card-body">
                <p>Nunc congue aliquam egestas.</p>

              </div>
              <div class="card-action">
                <div class="collapse" id="add-risk-2">
                  <div class="input-group">
                    <input class="form-control" type="text" placeholder="Risk">
                    <span class="input-group-btn"><button class="btn btn-default"><i class="icon-plus"></i></button></span>
                  </div>
                </div>
              </div>
              <a class="swap" href="#demo"><i class="icon-refresh"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col_20">
        <div class="flip grid_2x">

          <div class="card">
            <div class="face front">
              <h4 class="card-title clearfix"><i class="icon-tag"></i> Procurement
                <a class="add btn btn-default pull-right" href="#add-procurement" data-toggle="collapse">Add</a>
              </h4>
              <div class="card-body">
                <div class="scroller">
                  <ul>
                    <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Software Engineer</a></li>
                    <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Laptop</a></li>
                    <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Software</a></li>
                    <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Server space</a></li>
                    <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Website space</a></li>
                  </ul>
                </div>
              </div>
              <div class="card-action">
                <div class="collapse" id="add-procurement">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Title">
                    <span class="input-group-btn">
                      <button class="btn btn-default"><i class="icon-plus"></i></button>
                    </span>
                  </div>
                </div>
              </div>
              <a class="swap" href="#demo"><i class="icon-refresh"></i></a>
            </div>
            <div class="face back">
              <h4 class="card-title clearfix"><i class="icon-tag"></i> Procurement Management
                <a class="add btn btn-default pull-right" href="#add-procurement-2" data-toggle="collapse">Add</a>
              </h4>
              <div class="card-body">
                <p>Nunc congue aliquam egestas.</p>

              </div>
              <div class="card-action">
                <div class="collapse" id="add-procurement-2">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Title">
                    <span class="input-group-btn">
                      <button class="btn btn-default"><i class="icon-plus"></i></button>
                    </span>
                  </div>
                </div>
              </div>
              <a class="swap" href="#demo"><i class="icon-refresh"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col_50">
        <div class="flip">
          <div class="card">
            <div class="face front">
              <h4 class="card-title clearfix">
                <i class="icon-user"></i> Stakeholder
                <a class="add btn btn-default pull-right" href="#add-stakefolder" data-toggle="collapse">Add</a>
              </h4>
              <div class="card-body">
                <div class="scroller">
                  <ul>
                    <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Chris O’Halloran</a></li>
                    <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Aaron Hidson</a></li>
                    <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Adam Eliston</a></li>
                    <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Jame</a></li>
                    <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">David Hudson</a></li>
                    <li class="alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button><a href="#">Mark Fishwick</a></li>
                  </ul>
                </div>
              </div>
              <div class="card-action">
                <div class="collapse" id="add-stakefolder">
                  <div class="form-group clearfix">
                    <div class="col-sm-3"><input type="text" class="form-control" placeholder="Name"></div>
                    <div class="col-sm-3"><input type="text" class="form-control" placeholder="Email"></div>
                    <div class="col-sm-2"><select class="form-control"><option>Role</option></select></div>
                    <div class="col-sm-4">

                      <label class="checkbox-inline">
                        <input type="checkbox" class="form-control"> Is approved?
                      </label>
                    </div>
                  </div>
                  <div class="clearfix">
                    <div class="col-sm-12"><button class="btn btn-default"><i class="icon-plus"></i></button></div>
                  </div>
                </div>
              </div>
              <a class="swap" href="#demo"><i class="icon-refresh"></i></a>
            </div>
            <div class="face back">
              <h4 class="card-title clearfix"><i class="icon-user"></i> Stakeholder Management
                <a class="add btn btn-default pull-right" href="#add-stakefolder-2" data-toggle="collapse">Add</a>
              </h4>
              <div class="card-body">
                <p>Nunc congue aliquam egestas.</p>

              </div>
              <div class="card-action">
                <div class="collapse" id="add-stakefolder-2">
                  <div class="form-group clearfix">
                    <div class="col-sm-3"><input type="text" class="form-control" placeholder="Name"></div>
                    <div class="col-sm-3"><input type="text" class="form-control" placeholder="Email"></div>
                    <div class="col-sm-2"><select class="form-control"><option>Role</option></select></div>
                    <div class="col-sm-4">

                      <label class="checkbox-inline">
                        <input type="checkbox" class="form-control"> Is approved?
                      </label>
                    </div>
                  </div>
                  <div class="clearfix">
                    <div class="col-sm-12"><button class="btn btn-default"><i class="icon-plus"></i></button></div>
                  </div>
                </div>
              </div>
              <a class="swap" href="#demo"><i class="icon-refresh"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col_50">
        <div class="flip">
          <div class="card">
            <div class="face front">
              <h4 class="card-title clearfix">
                <i class="icon-usd"></i> Budget
                <a class="add btn btn-default pull-right" href="#add-budget" data-toggle="collapse">Add</a>
              </h4>
              <div class="card-body">
                <div class="scroller" data-always-visible="1" data-rail-visible="0">
                  <form class="form-horizontal">
                    <div class="form-group">
                      <label class="col-sm-5 control-label">Estimate</label>
                      <div class="col-sm-7">
                        <input class="form-control" type="text" placeholder="$0.00">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-5 control-label">Budget Accuracy</label>
                      <div class="col-sm-7">
                        <input class="form-control" type="text" placeholder="%0.00">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-5 control-label">Risk Contigency</label>
                      <div class="col-sm-7">
                        <input class="form-control" type="text" placeholder="$0.00">
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="card-action">
                <div class="collapse" id="add-budget">
                  <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                      <button class="btn btn-default"><i class="icon-plus"></i></button>
                    </span>
                  </div>
                </div>
              </div>
              <a class="swap" href="#demo"><i class="icon-refresh"></i></a>
            </div>
            <div class="face back">
              <h4 class="card-title clearfix"><i class="icon-usd"></i> Cost Management
                <a class="add btn btn-default pull-right" href="#add-budget-2" data-toggle="collapse">Add</a>
              </h4>
              <div class="card-body">
                <p>Nunc congue aliquam egestas.</p>

              </div>
              <div class="card-action">
                <div class="collapse" id="add-budget-2">
                  <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                      <button class="btn btn-default"><i class="icon-plus"></i></button>
                    </span>
                  </div>
                </div>
              </div>
              <a class="swap" href="#demo"><i class="icon-refresh"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="subcribtion-txt">
    <h4 class="text-center"><em>Follow Us for a chance to snag a subcribtion coupon</em></h4>
  </div>
  <div class="social_follow text-center">
    <a href="https://twitter.com/home?status=http://grapple-staging2.herokuapp.com/freemium/canvas"><i class="icon-twitter"></i> Share on Twitter</a>
    <a href="https://www.facebook.com/sharer/sharer.php?u=https://plus.google.com/share?url=http://grapple-staging2.herokuapp.com/freemium/canvas"><i class="icon-facebook"></i> Share on Facebook</a>
    <a href="https://plus.google.com/share?url=http://grapple-staging2.herokuapp.com/freemium/canvas"><i class="icon-google-plus-sign"></i> Share on Google</a>
  </div>
</div>
<div class="footer">
  <div class="footer-inner">
			2013 &copy; Metronic by keenthemes.
  </div>
  <div class="footer-tools">
    <span class="go-top">
      <i class="icon-angle-up"></i>
    </span>
  </div>
</div>