<div class="page-container" >

  <!-- BEGIN PAGE -->
  <div class="page-content-sub">
    <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
    <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">Modal title</h4>
          </div>
          <div class="modal-body">
							Widget settings form goes here
          </div>
          <div class="modal-footer">
            <button type="button" class="btn blue">Save changes</button>
            <button type="button" class="btn default" data-dismiss="modal">Close</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

    <!-- BEGIN PAGE HEADER-->
    <div class="row">
      <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
						Profile <small><br>Powerful Project Management At your Finger Tips</small>
        </h3>
        <ul class="page-breadcrumb breadcrumb">

          <li>
            <i class="icon-home"></i>
            <a href="index.html">Dashboard</a>
            <i class="icon-angle-right"></i>
          </li>
          <li>
            <a href="#">Projects</a>
            <i class="icon-angle-right"></i>
          </li>
          <li><a href="#">Profile</a></li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
      </div>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <form class="form-horizontal">
      <div class="row">
        <div class="media profile col-sm-6">
          <a class="pull-left" href="#" style="margin-right: 30px;">
            <img class="media-object img-circle" src="/assets/profile/profile.jpg" alt="...">
          </a>
          <div class="media-body">
            <h4 class="media-heading">John Doe</h4>
            <p>Project Manager</p>
            <div class="form-group">
              <div class="col-sm-8">
                <div class="input-group">
                  <input type="text" value="john.d@mail.com" class="form-control">
                  <span class="input-group-addon"><a href="#">Edit</a></span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-8">
                <div class="input-group">
                  <input type="text" value="123 456 7890" class="form-control">
                  <span class="input-group-addon"><a href="#">Edit</a></span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-8">
                <div class="input-group">
                  <input type="text" value="123 456 7890" class="form-control">
                  <span class="input-group-addon"><a href="#">Edit</a></span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-8">
                <div class="project-list">
                  <p><strong>Your Projects</strong></p>
                  <p><a href="#">Lorem ipsum dolor sit amet</a></p>
                  <p><a href="#">consectetur adipiscing elit</a></p>
                  <p><a href="#">Aenean dignissim</a></p>
                  <p><a href="#">dui condimentum </a></p>
                  <p><a href="#">egestas viverra</a></p>
                  <p><a href="#">Request to join project</a></p>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-8">
                <select class="form-control">
                  <option>Project Communication Preferences</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
            </div>
          </div>

        </div>
      </div>

      <hr>
      <div class="portlet box yellow">
        <div class="portlet-title">
          <div class="caption"><i class="icon-cogs"></i> Your Project Access</div>
        </div>
        <div class="portlet-body">
          <div class="form-group">
            <div class="col-sm-4">
              <label class="radio"><input type="radio" checked="checked"> Stackholder</label>
              <label class="radio"><input type="radio"> Time </label>
              <label class="radio"><input type="radio"> Scope</label>
              <label class="radio"><input type="radio"> Quality</label>
            </div>
            <div class="col-sm-4">
              <label class="radio"><input type="radio"> Stackholder</label>
              <label class="radio"><input type="radio"> Time </label>
              <label class="radio"><input type="radio"> Scope</label>
              <label class="radio"><input type="radio"> Quality</label>
            </div>
            <div class="col-sm-4">
              <label class="radio"><input type="radio"> Stackholder</label>
              <label class="radio"><input type="radio"> Time </label>
              <label class="radio"><input type="radio"> Scope</label>
              <label class="radio"><input type="radio"> Quality</label>
            </div>
          </div>
        </div>
      </div>
      <p class="form-actions text-right clearfix">
        <a href="#" class="pull-left">Click here to purchase more in-app purchase modules!</a>
        <a href="#" class="btn dark">Cancel</a>
        <a href="#" class="btn yellow">Done</a>
      </p>
    </form>
    <!-- END PAGE CONTENT-->
  </div>
  <!-- END PAGE -->
</div>
<!-- END CONTAINER -->