<div class="clearfix"></div>
<!-- BEGIN CONTAINER -->
<div class="page-container" >
  <!-- BEGIN HORIZONTAL MENU PAGE SIDEBAR1 -->
  <div class="page-sidebar navbar-collapse collapse">
    <div class="btn-group project-list-btn">
      <button type="button" class="btn yellow dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
        <span>Projects</span>
        <i class="icon-angle-down"></i>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">All (Default)</a></li>
        <li><a href="#">Project Name 1</a></li>
        <li><a href="#">Project Name 2</a></li>
        <li><a href="#">Project Name 3</a></li>
        <li><a href="#">Project Name 4</a></li>
      </ul>
    </div>
    <ul class="page-sidebar-menu">

      <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
      <!-- <div class="sidebar-toggler hidden-sm hidden-xs"></div> -->
      <!-- BEGIN SIDEBAR TOGGLER BUTTON -->


      <li >
        <a href="javascript:;">
          <i class="icon-cog"></i>
          <span class="title">Stackholders</span>
        </a>
      </li>
      <li>
        <a href="#" target="_blank">
          <i class="icon-folder-close"></i>
          <span class="title">Resources</span>
        </a>
      </li>
      <li >
        <a href="javascript:;">
          <i class="icon-cogs"></i>
          <span class="title">System Setting</span>
        </a>
      </li>
      <li >
        <a href="javascript:;">
          <i class="icon-time"></i>
          <span class="title">Time/Schedule</span>
        </a>
      </li>
      <li >
        <a href="javascript:;">
          <i class="icon-th-list"></i>
          <span class="title">Scope</span>
        </a>
      </li>
      <li >
        <a href="javascript:;">
          <i class="icon-ok"></i>
          <span class="title">Quality</span>
        </a>
      </li>
      <li >
        <a href="javascript:;">
          <i class="icon-file-text"></i>
          <span class="title">Procurement</span>
        </a>
      </li>
      <li >
        <a href="charts.html">
          <i class="icon-envelope"></i>
          <span class="title">Communications</span>
        </a>
      </li>
      <li class="last">
        <a href="login.html">
          <i class="icon-question-sign"></i>
          <span class="title">Risk</span>
        </a>
      </li>
    </ul>
    <!--HORIZONTAL AND SIDEBAR MENU FOR MOBILE & TABLETS-->
    <ul class="page-sidebar-menu visible-sm visible-xs">
      <li class="active">
        <a href="index.html">
					Dashboard
          <span class="selected"></span>
          <span class="arrow open"></span>
        </a>
        <ul class="sub-menu">

          <li >
            <a href="javascript:;">
              <i class="icon-th-list"></i>
              <span class="title">Portlets</span>
              <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
              <li >
                <a href="portlet_general.html">
									General Portlets                    </a>
              </li>
              <li >
                <a href="portlet_draggable.html">
									Draggable Portlets                     </a>
              </li>
            </ul>
          </li>
          <li >
            <a href="javascript:;">
              <i class="icon-map-marker"></i>
              <span class="title">Maps</span>
              <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
              <li >
                <a href="maps_google.html">
									Google Maps                   </a>
              </li>
              <li >
                <a href="maps_vector.html">
									Vector Maps                   </a>
              </li>
            </ul>
          </li>
          <li >
            <a href="charts.html">
              <i class="icon-bar-chart"></i>
              <span class="title">Visual Charts</span>
            </a>
          </li>
          <li >
            <a href="login.html">
              <i class="icon-user"></i>
              <span class="title">Login Page</span>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="javascript:;">
					Sections
          <span class="arrow"></span>
        </a>
      </li>
      <li>
        <a href="">Tables</a>
      </li>
      <li>
        <a href="">Extra
          <span class="arrow"></span>
        </a>
      </li>
    </ul>
  </div>
  <!-- END BEGIN HORIZONTAL MENU PAGE SIDEBAR -->
  <!-- BEGIN PAGE -->
  <div class="page-content">
    <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
    <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">Modal title</h4>
          </div>
          <div class="modal-body">
							Widget settings form goes here
          </div>
          <div class="modal-footer">
            <button type="button" class="btn blue">Save changes</button>
            <button type="button" class="btn default" data-dismiss="modal">Close</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!-- BEGIN PAGE HEADER-->
    <div class="row">
      <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
						Project Name <br><small>Project Descriptions</small>
        </h3>
        <ul class="page-breadcrumb breadcrumb">

          <li>
            <i class="icon-home"></i>
            <a href="index.html">Dashboard</a>
            <i class="icon-angle-right"></i>
          </li>
          <li>
            <a href="#">Projects</a>
            <i class="icon-angle-right"></i>
          </li>
          <li><a href="#">Project Name</a></li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
        <div class="text-left">
          <h4>Project Manager: <a href="#">Chris O'Hara</a></h4>
        </div>
        <hr>
        <form class="form-horizontal">
          <div class="form-group">
            <div class="col-sm-3">
              <input class="form-control" placeholder="Project Name" type="text">
            </div>
            <div class="col-sm-4">
              <label class="checkbox-inline">
                <input type="checkbox" type="text"> Are you project manager?
              </label>
            </div>
            <div class="col-sm-2 col-sm-offset-3">
              <select class="form-control"><option>Project Manager</option></select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-3">
              <input class="form-control" placeholder="Project Sponsor" type="text">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-3">
              <select class="form-control"><option>Project Category</option></select>
            </div>
          </div>
          <hr>
          <h3>Project purpose or justification</h3>
          <textarea class="ckeditor form-control" name="editor2" rows="4"></textarea>
          <hr>
          <h3>Statement of work</h3>
          <textarea class="ckeditor form-control" name="editor1" rows="4"></textarea>
          <hr>
        </form>
        <div class="row">
          <div class="col-sm-6">
            <h3>Budget</h3>
            <div class="charter-box row yellow">
              <div class="col-sm-6">
                <p>Allocated</p>
                <h4>$80,000</h4>
              </div>
              <div class="col-sm-6">
                <p>Accuracy</p>
                <h4>+/- 30%</h4>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <h3>Contigency</h3>
            <div class="charter-box row dark">
              <div class="col-sm-4">
                <p>Budget Contigency</p>
                <h4>$24,000 (30%)</h4>
              </div>
              <div class="col-sm-4">
                <p>Risk Contigency</p>
                <h4>$24,000 (30%)</h4>
              </div>
              <div class="col-sm-4">
                <p>Total Contigency</p>
                <h4>$48,000 60%</h4>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-6">
            <div class="portlet box yellow">
              <div class="portlet-title">
                <div class="caption"><i class="icon-check-sign"></i> Risk</div>
              </div>
              <div class="portlet-body">
                <ul>
                  <li><a href="#">Project Management Plan</a></li>
                  <li><a href="#">Fullset to Alpha</a></li>
                  <li><a href="#">Working Beta prototype</a></li>
                  <li><a href="#">100% paying user</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="portlet box yellow">
              <div class="portlet-title">
                <div class="caption"><i class="icon-check-sign"></i> Key Milestone</div>
              </div>
              <div class="portlet-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Due Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Document Requirements</td>
                      <td>
                        <div class="input-group input-medium date date-picker" data-date="12-04-2014" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                          <input type="text" class="form-control" readonly>
                          <span class="input-group-btn">
                            <button class="btn default" type="button"><i class="icon-calendar"></i></button>
                          </span>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>Document Requirements</td>
                      <td>
                        <div class="input-group input-medium date date-picker" data-date="12-04-2014" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                          <input type="text" class="form-control" readonly>
                          <span class="input-group-btn">
                            <button class="btn default" type="button"><i class="icon-calendar"></i></button>
                          </span>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>Document Requirements</td>
                      <td>
                        <div class="input-group input-medium date date-picker" data-date="12-04-2014" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                          <input type="text" class="form-control" readonly>
                          <span class="input-group-btn">
                            <button class="btn default" type="button"><i class="icon-calendar"></i></button>
                          </span>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>Document Requirements</td>
                      <td>
                        <div class="input-group input-medium date date-picker" data-date="12-04-2014" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                          <input type="text" class="form-control" readonly>
                          <span class="input-group-btn">
                            <button class="btn default" type="button"><i class="icon-calendar"></i></button>
                          </span>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-4">
            <div class="portlet box yellow">
              <div class="portlet-title">
                <div class="caption"><i class="icon-check-sign"></i> Deliverables</div>
              </div>
              <div class="portlet-body">
                <ul>
                  <li><a href="#">Project Management Plan</a></li>
                  <li><a href="#">Fullset to Alpha</a></li>
                  <li><a href="#">Working Beta prototype</a></li>
                  <li><a href="#">100% paying user</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="portlet box yellow">
              <div class="portlet-title">
                <div class="caption"><i class="icon-check-sign"></i> Procurement</div>
              </div>
              <div class="portlet-body">
                <ul>
                  <li><a href="#">Project Management Plan</a></li>
                  <li><a href="#">Fullset to Alpha</a></li>
                  <li><a href="#">Working Beta prototype</a></li>
                  <li><a href="#">100% paying user</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="portlet box yellow">
              <div class="portlet-title">
                <div class="caption"><i class="icon-check-sign"></i> Quality</div>
              </div>
              <div class="portlet-body">
                <ul>
                  <li><a href="#">Project Management Plan</a></li>
                  <li><a href="#">Fullset to Alpha</a></li>
                  <li><a href="#">Working Beta prototype</a></li>
                  <li><a href="#">100% paying user</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <h3>Stakeholder</h3>
        <div class="row">
          <div class="col-sm-12">
            <table class="table table-stackeholder">
              <thead>
                <tr>
                  <th colspan="4"></th>
                  <th colspan="2" class="text-right">Is approved?</th>
                  <th colspan="1" class="text-right">Comms</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><input type="text" class="form-control" value="John"></td>
                  <td><input type="text" class="form-control" value="Doe"></td>
                  <td><input type="text" class="form-control" value="john.d@mail.com"></td>
                  <td><input type="text" class="form-control" value="123 456 7890"></td>
                  <td><select class="form-control"><option>Key User</option></select></td>
                  <td><input type="checkbox"></td>
                  <td><input type="text" class="form-control" value="" placeholder="Email"></td>
                  <td><a href="#">Invite</a></td>
                  <td><a href="#"><i class="icon-trash"></i></a></td>
                </tr>
                <tr>
                  <td><input type="text" class="form-control" value="John"></td>
                  <td><input type="text" class="form-control" value="Doe"></td>
                  <td><input type="text" class="form-control" value="john.d@mail.com"></td>
                  <td><input type="text" class="form-control" value="123 456 7890"></td>
                  <td><select class="form-control"><option>Key User</option></select></td>
                  <td><input type="checkbox"></td>
                  <td><input type="text" class="form-control" value="" placeholder="Email"></td>
                  <td><a href="#">Invite</a></td>
                  <td><a href="#"><i class="icon-trash"></i></a></td>
                </tr>
                <tr>
                  <td><input type="text" class="form-control" value="John"></td>
                  <td><input type="text" class="form-control" value="Doe"></td>
                  <td><input type="text" class="form-control" value="john.d@mail.com"></td>
                  <td><input type="text" class="form-control" value="123 456 7890"></td>
                  <td><select class="form-control"><option>Key User</option></select></td>
                  <td><input type="checkbox"></td>
                  <td><input type="text" class="form-control" value="" placeholder="Email"></td>
                  <td><a href="#">Invite</a></td>
                  <td><a href="#"><i class="icon-trash"></i></a></td>
                </tr>
                <tr>
                  <td><input type="text" class="form-control" value="John"></td>
                  <td><input type="text" class="form-control" value="Doe"></td>
                  <td><input type="text" class="form-control" value="john.d@mail.com"></td>
                  <td><input type="text" class="form-control" value="123 456 7890"></td>
                  <td><select class="form-control"><option>Key User</option></select></td>
                  <td><input type="checkbox"></td>
                  <td><input type="text" class="form-control" value="" placeholder="Email"></td>
                  <td><a href="#">Invite</a></td>
                  <td><a href="#"><i class="icon-trash"></i></a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <hr>
        <h3>Stakeholder</h3>
        <div div class="row">
          <div class="col-sm-12">
            <table class="table">
              <thead>
                <tr>
                  <th></th>
                  <th>Role</th>
                  <th>Issues</th>
                  <th>Status</th>
                  <th>Response Date</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><strong>John Doe</strong></td>
                  <td>Project Manager</td>
                  <td>
                    <div class="input-group input-medium date date-picker" data-date="12-04-2014" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                      <input type="text" class="form-control" readonly>
                      <span class="input-group-btn">
                        <button class="btn default" type="button"><i class="icon-calendar"></i></button>
                      </span>
                    </div>
                  </td>
                  <td>
                    <span class="label label-success">Approved</span>
                  </td>
                  <td>
                    <div class="input-group input-medium date date-picker" data-date="12-04-2014" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                      <input type="text" class="form-control" readonly>
                      <span class="input-group-btn">
                        <button class="btn default" type="button"><i class="icon-calendar"></i></button>
                      </span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><strong>John Doe</strong></td>
                  <td>Project Manager</td>
                  <td>
                    <div class="input-group input-medium date date-picker" data-date="12-04-2014" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                      <input type="text" class="form-control" readonly>
                      <span class="input-group-btn">
                        <button class="btn default" type="button"><i class="icon-calendar"></i></button>
                      </span>
                    </div>
                  </td>
                  <td>
                    <span class="label label-success">Approved</span>
                  </td>
                  <td>
                    <div class="input-group input-medium date date-picker" data-date="12-04-2014" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                      <input type="text" class="form-control" readonly>
                      <span class="input-group-btn">
                        <button class="btn default" type="button"><i class="icon-calendar"></i></button>
                      </span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><strong>John Doe</strong></td>
                  <td>Project Manager</td>
                  <td>
                    <div class="input-group input-medium date date-picker" data-date="12-04-2014" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                      <input type="text" class="form-control" readonly>
                      <span class="input-group-btn">
                        <button class="btn default" type="button"><i class="icon-calendar"></i></button>
                      </span>
                    </div>
                  </td>
                  <td>
                    <span class="label label-success">Approved</span>
                  </td>
                  <td>
                    <div class="input-group input-medium date date-picker" data-date="12-04-2014" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                      <input type="text" class="form-control" readonly>
                      <span class="input-group-btn">
                        <button class="btn default" type="button"><i class="icon-calendar"></i></button>
                      </span>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <p class="form-actions">
          <a href="#" class="btn red">Not Approved</a>
        </p>
      </div>
    </div>

  </div>
</div>
<!-- END PAGE CONTENT-->
