<div class="clearfix"></div>
<!-- BEGIN CONTAINER -->
<div class="page-container" >
  <!-- BEGIN HORIZONTAL MENU PAGE SIDEBAR1 -->
  <div class="page-sidebar navbar-collapse collapse">
    <div class="btn-group project-list-btn">
      <button type="button" class="btn yellow dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
        <span>Projects</span>
        <i class="icon-angle-down"></i>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">All (Default)</a></li>
        <li><a href="#">Project Name 1</a></li>
        <li><a href="#">Project Name 2</a></li>
        <li><a href="#">Project Name 3</a></li>
        <li><a href="#">Project Name 4</a></li>
      </ul>
    </div>
    <ul class="page-sidebar-menu">


      <li >
        <a href="javascript:;">
          <i class="icon-cog"></i>
          <span class="title">Stackholders</span>
        </a>
      </li>
      <li>
        <a href="#" target="_blank">
          <i class="icon-folder-close"></i>
          <span class="title">Resources</span>
        </a>
      </li>
      <li >
        <a href="javascript:;">
          <i class="icon-cogs"></i>
          <span class="title">System Setting</span>
        </a>
      </li>
      <li >
        <a href="javascript:;">
          <i class="icon-time"></i>
          <span class="title">Time/Schedule</span>
        </a>
      </li>
      <li >
        <a href="javascript:;">
          <i class="icon-th-list"></i>
          <span class="title">Scope</span>
        </a>
      </li>
      <li >
        <a href="javascript:;">
          <i class="icon-ok"></i>
          <span class="title">Quality</span>
        </a>
      </li>
      <li >
        <a href="javascript:;">
          <i class="icon-file-text"></i>
          <span class="title">Procurement</span>
        </a>
      </li>
      <li >
        <a href="charts.html">
          <i class="icon-envelope"></i>
          <span class="title">Communications</span>
        </a>
      </li>
      <li class="last">
        <a href="login.html">
          <i class="icon-question-sign"></i>
          <span class="title">Risk</span>
        </a>
      </li>
    </ul>

    <div class="sidebar-actions">
      <h3>Actions</h3>
      <ul class="list-btn">
        <li><a href="#" class="btn default">Stakeholder Register</a></li>
        <li><a href="#" class="btn default">Stakeholder Reg Matrix</a></li>
        <li><a href="#" class="btn default">Export Stakeholder Plan</a></li>
        <li><a href="#" class="btn default">Request Stake Chage</a></li>
        <li><a href="#" class="btn red">Request Project Change</a></li>
      </ul>
    </div>

    <!--HORIZONTAL AND SIDEBAR MENU FOR MOBILE & TABLETS-->
    <ul class="page-sidebar-menu visible-sm visible-xs">
      <li class="active">
        <a href="index.html">
					Dashboard
          <span class="selected"></span>
          <span class="arrow open"></span>
        </a>
        <ul class="sub-menu">

          <li >
            <a href="javascript:;">
              <i class="icon-th-list"></i>
              <span class="title">Portlets</span>
              <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
              <li >
                <a href="portlet_general.html">
									General Portlets                    </a>
              </li>
              <li >
                <a href="portlet_draggable.html">
									Draggable Portlets                     </a>
              </li>
            </ul>
          </li>
          <li >
            <a href="javascript:;">
              <i class="icon-map-marker"></i>
              <span class="title">Maps</span>
              <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
              <li >
                <a href="maps_google.html">
									Google Maps                   </a>
              </li>
              <li >
                <a href="maps_vector.html">
									Vector Maps                   </a>
              </li>
            </ul>
          </li>
          <li >
            <a href="charts.html">
              <i class="icon-bar-chart"></i>
              <span class="title">Visual Charts</span>
            </a>
          </li>
          <li >
            <a href="login.html">
              <i class="icon-user"></i>
              <span class="title">Login Page</span>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="javascript:;">
					Sections
          <span class="arrow"></span>
        </a>
      </li>
      <li>
        <a href="">Tables</a>
      </li>
      <li>
        <a href="">Extra
          <span class="arrow"></span>
        </a>
      </li>
    </ul>
  </div>
  <!-- END BEGIN HORIZONTAL MENU PAGE SIDEBAR -->
  <!-- BEGIN PAGE -->
  <div class="page-content">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="page-title">Time & Schedule</h3>
        <ul class="page-breadcrumb breadcrumb">
          <li>
            <i class="icon-home"></i>
            <a href="index.html">Dashboard</a>
            <i class="icon-angle-right"></i>
          </li>
          <li>
            <a href="#">Projects</a>
            <i class="icon-angle-right"></i>
          </li>
          <li><a href="#">Project Name</a></li>
        </ul>
      </div>
    </div>
    <!-- /End Row/ -->
    <div class="row">
      <div class="col-sm-8">
        <table class="table">
          <thead>
            <tr>
              <th>Activity</th>
              <th>Duration</th>
              <th>Base Start</th>
              <th>Base Finish</th>
              <th>Start</th>
              <th>Finish</th>
              <th>Link</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1. Build House</td>
              <td>25 days</td>
              <td>
                <div class="input-group input-medium date date-picker" data-date="12-04-2014" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                  <input type="text" class="form-control" readonly>
                  <span class="input-group-btn">
                    <button class="btn default" type="button"><i class="icon-calendar"></i></button>
                  </span>
                </div>
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>1. Build House</td>
              <td>25 days</td>
              <td>
                <div class="input-group input-medium date date-picker" data-date="12-04-2014" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                  <input type="text" class="form-control" readonly>
                  <span class="input-group-btn">
                    <button class="btn default" type="button"><i class="icon-calendar"></i></button>
                  </span>
                </div>
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>1. Build House</td>
              <td>25 days</td>
              <td>
                <div class="input-group input-medium date date-picker" data-date="12-04-2014" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                  <input type="text" class="form-control" readonly>
                  <span class="input-group-btn">
                    <button class="btn default" type="button"><i class="icon-calendar"></i></button>
                  </span>
                </div>
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>1. Build House</td>
              <td>25 days</td>
              <td>
                <div class="input-group input-medium date date-picker" data-date="12-04-2014" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                  <input type="text" class="form-control" readonly>
                  <span class="input-group-btn">
                    <button class="btn default" type="button"><i class="icon-calendar"></i></button>
                  </span>
                </div>
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>1. Build House</td>
              <td>25 days</td>
              <td>
                <div class="input-group input-medium date date-picker" data-date="12-04-2014" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                  <input type="text" class="form-control" readonly>
                  <span class="input-group-btn">
                    <button class="btn default" type="button"><i class="icon-calendar"></i></button>
                  </span>
                </div>
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <p><a href="#">Add New Task</a></p>
      </div>
      <div class="col-sm-4">
        <div class="portlet box blue">
          <div class="portlet-title">
            <div class="caption"><i class="icon-reorder"></i>Gantt Chart</div>

          </div>
          <div class="portlet-body">

          </div>
        </div>
      </div>
    </div>
    <!-- /End Row/ -->
    <div class="row">
      <div class="col-sm-6">
        <div class="portlet box grey">
          <div class="portlet-title">
            <div class="caption">Upload Files</div>
          </div>
          <div class="portlet-body">

            <form class="form-horizontal">
              <div class="fileupload fileupload-new" data-provides="fileupload"><input type="hidden">
                <span class="btn yellow btn-file">
                  <span class="fileupload-new"><i class="icon-paper-clip"></i> Select file</span>
                  <span class="fileupload-exists"><i class="icon-undo"></i> Change</span>
                  <input type="file" class="default">
                </span>
                <span class="fileupload-preview" style="margin-left:5px;"></span>
                <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none; margin-left:5px;"></a>
              </div>
              <label class="radio"><input type="radio" name="file-type"> Project Document</label>
              <label class="radio"><input type="radio" name="file-type"> Design Drawing</label>
              <label class="radio"><input type="radio" name="file-type"> Quality Evidence</label>
              <label class="radio"><input type="radio" name="file-type"> Photo</label><br>
              <p><a href="#" class="btn red">Attach</a></p>
            </form>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="portlet box grey">
          <div class="portlet-title">
            <div class="caption">Project Start Estimate</div>
          </div>
          <div class="portlet-body">
           	<form class="form-horizontal">
              <div class="form-group">
                <label class="col-sm-3">Estimate Start</label>
                <div class="col-sm-6">
                  <div class="input-group input-medium date date-picker" data-date="12-04-2014" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                    <input type="text" class="form-control" readonly>
                    <span class="input-group-btn">
                      <button class="btn default" type="button"><i class="icon-calendar"></i></button>
                    </span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3">Target Complete</label>
                <div class="col-sm-6">
                  <div class="input-group input-medium date date-picker" data-date="12-04-2014" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                    <input type="text" class="form-control" readonly>
                    <span class="input-group-btn">
                      <button class="btn default" type="button"><i class="icon-calendar"></i></button>
                    </span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3">Forecast Complete</label>
                <div class="col-sm-6">
                  <div class="input-group input-medium date date-picker" data-date="12-04-2014" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                    <input type="text" class="form-control" readonly>
                    <span class="input-group-btn">
                      <button class="btn default" type="button"><i class="icon-calendar"></i></button>
                    </span>
                  </div>
                </div>
              </div>
              <label>3 Days ahead complete</label>
           	</form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END PAGE -->
</div>